.categoryNext__inner {
    .catalogMenuList {
        display: flex;
        flex-wrap: wrap;
        margin: -20px -10px 0;
    }
    .catalogMenuList__item {
        width: 25%;
        padding: 20px 10px 0;
    }
    .catalogMenuPoint {
        background-color: $extra-standart-c;
        .catalogMenuPoint__inner {
            min-height: 68px;
            padding: 3px 5px 5px 3px;
        }
    }
    .catalogMenuPoint__name {
        font-size: 16px;
        line-height: 22px;
        max-width: 58%;
    }
    .catalogMenuPoint__img {
        width: 60px;
        min-width: 60px;
        height: 60px;
    }
    .cmpExtraBtn svg {
        transform: rotate(0deg);
        transition: .25s transform;
    }
}
.collapsedNext {
    position: relative;
    border-top: 2px solid $extra-standart-c;
    border-left: 2px solid $extra-standart-c;
    border-right: 2px solid $extra-standart-c;
    transition: .25s border-color;
    &.__active {
        border-color: $dark-c;
        .catalogMenuPoint {
            background-color: #fff;
        }
        .collapsedNext__dd {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
        .catalogMenuPoint__extra .quantBox {
            background-color: $light-c;
            color: #fff;
        }
        .cmpExtraBtn {
            background-color: $light-c;
            color: #fff;
        }
        .cmpExtraBtn svg {
            transform: rotate(-180deg);
            fill: #fff;
        }
    }
}
.collapsedNext__dd {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    position: absolute;
    left: -2px;
    right: -2px;
    top: 100%;
    z-index: 5;
    border-bottom: 2px solid $dark-c;
    border-left: 2px solid $dark-c;
    border-right: 2px solid $dark-c;
    transition: .25s opacity, .25s visibility, .25s transform;
}
.nextDropdown__inner {
    background-color: #fff;
}
.nextDropList {
    list-style: none;
}
.nextDropList__item {
    padding: 0px 5px 5px;
    &:last-child {
        padding-bottom: 0;
    }
}
.nextDropPoint {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 20px;
    padding: 10px;
    transition: .25s background-color;
    &:hover {
        background-color: $extra-standart-c;
        .quantBox {
            color: #fff;
            background-color: $light-c;
        }
    }
}
.nextDropPoint_q {
    margin-left: 5px;
}
.nextDropdown__main {
    margin-bottom: 5px;
}
.nextDropdown__main {
    .nextDropPoint {
        background-color: $extra-warm-c;
        color: $light-c;
        font-weight: 500;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.nextDropdown__inner {
    padding-bottom: 5px;
}
.nextDropdown__list {
    overflow: auto;
    max-height: 265px;
    .mCSB_inside>.mCSB_container {
        margin-right: 14px;
    }
}
.catalogMain__top {
    margin-bottom: 36px;
    &:last-child {
        margin-bottom: 0;
    }
    .collapsedNext {
        border-bottom: 2px solid $extra-standart-c;
        .catalogMenuPoint__inner {
            padding-bottom: 3px;
            min-height: 66px;
        }
        &:hover {
            border-color: $dark-c;
            .catalogMenuPoint {
                background-color: #fff;
            }
            .quantBox {
                color: #fff;
                background-color: $light-c;
            }
        }
    }
    .catalogMenuList__item:nth-child(n + 5) {
        display: none;
        &.__active {
            display: block;
        }
    }
}
.categoryNext-button {
    margin-top: 15px;
}
.catalogMain__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -20px -10px 0;
}
.catalogMain__item {
    padding: 20px 10px 0;
    display: flex;
    flex-direction: column;
    &.catalogMain__item-filter {
        width: 324px;
    }
    &.catalogMain__item-main {
        width: calc(100% - 324px);
    }
}
.catalogFilter__section {
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0;
    }
}
.filterBarBtn {
    display: block;
    width: 100%;
    background-color: $extra-standart-c;
    border: none;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 10px 16px 15px;
    font-weight: 500;
    &:hover {
        .filterBarBtn__ico {
            background-color: $extra-light-c;
        }
    }
}
.filterBarBtn__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterBarBtn__ico {
    min-width: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s background-color;
    svg {
        display: block;
        fill: $dark-c;
        transition: .25s transform, .25s fill;
    }
}
.filterCollapsed__body {
    padding: 5px 5px;
}
.catalogFilter__inner {
    background-color: #fff;
}
.filterCollapsed__content {
    overflow: auto;
    max-height: 216px;
    &.mCS_no_scrollbar {
        .mCSB_inside>.mCSB_container {
            margin-right: 0px;
        }
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 15px;
    }
    .mCSB_scrollTools {
        width: 15px;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
        margin-right: 0px;
        margin-left: 10px;
    }
    .mCSB_scrollTools .mCSB_draggerContainer::before {
        right: 0px;
    }
}
.customCb--item {
    width: 18px;
    height: 18px;
    display: block;
    border: 1px solid #CECECE;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    &:hover {
        border-color: $light-c;
    }
}
.customCb.customCb-radio {
    & + .customCb--item {
        border-radius: 50%;
    }
    
    & + .customCb--item:hover {
        border-color: #CECECE;
        background: radial-gradient(at center, $extra-light-c 5px, #fff 6px, #fff 7px, #CECECE 8px);
    }
    &:checked + .customCb--item {
        border-color: $light-c;
        background: radial-gradient(at center, $light-c 5px, #fff 6px, #fff 7px, $light-c 8px);
    }
}
.customCb[disabled] + .customCb--item,
.filterPoint[aria-disabled="true"] .customCb--item {
    border-color: $extra-light-c;
    background-color: $extra-light-c;
}
.filterPoint[aria-disabled="true"] {
    color: #CECECE;
    .quantBox {
        background-color: $extra-standart-c;
        color: #CECECE;
    }
}
.customCb:checked + .customCb--item {
    border-color: $light-c;
    background-color: $light-c;
    color: #fff;
    background-image: url(../img/svg/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 9px;
}
.filterPoint {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 36px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    line-height: 19px;
    &:not([aria-disabled="true"]):hover {
        .customCb--item {
            border-color: $light-c;
        }
    }
}
.labelBox {
    &:hover {
        .customCb.customCb-radio {
            & + .customCb--item {
                border-color: #CECECE;
                background: radial-gradient(at center, $extra-light-c 5px, #fff 6px, #fff 7px, #CECECE 8px);
            }
            &:checked + .customCb--item {
                border-color: $light-c;
                background: radial-gradient(at center, $light-c 5px, #fff 6px, #fff 7px, $light-c 8px);
            }
        }
    }
}
.filterPoint__ico {
    margin-right: 10px;
}
.filterPoint__extra {
    margin-left: auto;
    .quantBox {
        background-color: $extra-warm-c;
        color: $light-c;
    }
}
.filterInputList {
    list-style: none;
}
.catalogFilter__static {
    background-color: $extra-standart-c;
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0;
    }
    .filterCollapsed__body {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.filterBtnList__item {
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0;
    }
}
.filterBtnList__item .customBtn {
    width: 100%;
    .quantBox {
        background-color: $extra-warm-c;
        color: $light-c;
    }
}
.filterCollapsed__dropdown {
    display: none;
}
.filterCollapsed.__active {
    .filterCollapsed__dropdown {
        display: block;
    }
    .filterBarBtn__ico svg {
        transform: rotate(-180deg);
    }
}
.sliderInput__inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -10px 0 0;
}
.sliderInput__sep {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: $extra-dark-c;
    margin-top: 10px;
}
.sliderInput__input {
    padding-top: 10px;
    width: calc(50% - 10px);
}
.sliderInput__top {
    margin-bottom: 24px;
    padding-top: 19px;
}
.sliderInput__num {
    line-height: 20px;
    border: 1px solid $extra-light-c;
    background-color: #fff;
    color: $extra-dark-c;
    display: block;
    width: 100%;
    padding: 11px 10px 11px 34px;
    font-weight: 400;
    &:hover {
        border-color: $extra-dark-c;
    }
}
.sliderInputBox.__active {
    .sliderInput__num {
        border-color: $light-c;
        color: $dark-c;
    }
    .sliderInput__label {
        color: $dark-c;
    }
    .sliderBtnClear {
        display: block;
    }
}
.sliderInput__label {
    width: 19px;
    line-height: 20px;
    color: $extra-dark-c;
    position: absolute;
    top: 12px;
    left: 11px;
}
.sliderInputBox {
    position: relative;
    width: 100%;
}
.noUi-horizontal {
    height: 4px;
}
.noUi-connect {
    background: $light-c;
}
.noUi-target {
    background: $extra-warm-c;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.noUi-connects {
    border-radius: 0;
}

.noUi-handle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 22px;
    height: 22px;
    border: 4px solid $extra-warm-c;
    border-radius: 50%;
    background-color: transparent;
    transition: .25s transform;
}
.noUi-handle.noUi-handle-lower::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: $light-c;
    top: 50%;
    right: -15px;
    transform: translate(0, -50%);
    opacity: 0;
    transition: .25s opacity;
}
.noUi-handle.noUi-handle-upper::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: $light-c;
    top: 50%;
    left: -9px;
    transform: translate(0, -50%);
    opacity: 0;
    transition: .25s opacity;
}
.noUi-horizontal .noUi-handle {
    width: 12px;
    height: 12px;
    right: -7px;
    top: -4px;
}
.noUi-handle {
    border: none;
    border-radius: 50%;
    background: $light-c;
    cursor: pointer;
    box-shadow: none;
    transition: .25s width, .25s height;
    &:hover,
    &.noUi-active {
        &::before {
            transform: translate(-50%, -50%) scale(1);
        }
        &::after {
            opacity: 1;
        }
    }
}
.sliderBtnClear {
    display: none;
    width: 12px;
    height: 12px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
}
.sliderBtnClear__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: $dark-c;
        transition: .25s fill;
    }
}
.sliderInput__bottom {
    padding-bottom: 15px;
}
.catalogSorting {
    margin-bottom: 10px;
}
.sortingBar {
    background-color: $extra-standart-c;
    padding: 14px 15px;
}
.sortingBar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -10px -10px 0;
}
.sortingBar__item {
    padding: 10px 10px 0;
}
.sortingList {
    display: flex;
    margin: 0 -15px;
}
.sortingList__item {
    padding: 0 15px;
}
.sortingList__link {
    display: flex;
    align-items: center;
    color: $extra-dark-c;
    font-size: 15px;
    line-height: 18px;
    
    svg {
        fill: $extra-dark-c;
    }
    &.__active {
        color: $dark-c;
        .sortingList__ico {
            display: block;
        }
        svg {
            fill: $dark-c;
        }
    }
    &:hover {
        color: $light-c;
        svg {
            fill: $light-c;
        }
    }
}
.sortingList__link-down {
    svg {
        transform: scale(1, -1);
    }
}
.catalogView {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.catalogView__item {
    padding: 0 10px;
}
.sortingList__item.sortingList__item-price {
    display: none;
}
.catalogViewBtn {
    background-color: transparent;
    border: none;
    display: block;
    width: 22px;
    height: 22px;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: $extra-dark-c;
        transition: .25s fill;
    }
    &.__active {
        svg {
            fill: $dark-c;
        }
    }
    &:hover {
        svg {
            fill: $light-c;
        }
    }
}
.catalogViewBtn__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sortingElement__bar {
    display: flex;
    align-items: center;
}
.sortingElement__label {
    display: flex;
    margin-right: 30px;
    color: $extra-dark-c;
    font-size: 15px;
    line-height: 18px;
}
.sortingList__ico {
    margin-left: 5px;
    svg {
        display: block;
        transition: .25s fill;
    }
}
.filterFly {
    position: absolute;
    transform: translateY(-10%);
    width: 180px;
    padding-left: 20px;
    z-index: 11;
    .quantBox {
        margin-left: 8px;
        background-color: $extra-warm-c;
        color: $light-c;
    }
    .customBtn {
        width: 160px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 5px;
            top: -1px;
            bottom: -1px;
            right: 100%;
            background-color: $light-c;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 17px solid $light-c;
            transform: translateY(-50%);
        }
    }
}
.choiceFilters__item {
    margin-right: 5px;
    margin-top: 5px;
}
.choiceFilters__inner {
    margin-right: -5px;
}
.choiceLabel {
    white-space: nowrap;
    cursor: pointer;
    display: block;
    background-color: $extra-standart-c;
    border: 1px solid $extra-light-c;
    font-size: 15px;
    line-height: 16px;
    padding: 4px 7px;
    .productLabel {
        padding: 0;
        color: $dark-c;
        background-color: transparent;
        line-height: 16px;
        font-size: 15px;
    }
    &.choiceLabel-del {
        border: 1px solid #CECECE;
        background-color: #CECECE;
        color: $dark-c;
    }
    .choiceLabel__inner {
        display: flex;
        align-items: center;
    }
    .choiceLabel__ico {
        display: block;
        width: 12px;
        min-width: 12px;
        height: 12px;
        margin-left: 8px;
        svg {
            width: 100%;
            height: 100%;
            display: block;
            fill: $extra-dark-c;
            transition: .25s fill;
        }
    }
    transition: .25s border-color, .25s color, .25s background-color;
}
.choiceFilters {
    display: flex;
    margin-top: -5px;
}
.choiceFilters__inner {
    display: flex;
    flex-wrap: wrap;
}
.catalogChoice {
    display: none;
    margin-bottom: 10px;
    &.__active {
        display: block;
    }
}
.mainCatalog__nav {
    margin-top: 10px;
}
.mainCatalog__btn {
    .customBtn {
        margin-left: auto;
        margin-right: auto;
    }
}
.mainCatalog__pag {
    margin-top: 15px;
}
.sitePagination__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginationList {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.sitePagination__arrow-prev {
    margin-right: 10px;
}
.sitePagination__arrow-next {
    margin-left: 10px;
}
a.paginationPoint {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: #fff;
    border: 2px solid transparent;
    transition: .25s border-color, .25s color, .25s background-color;
    &:hover {
        color: #fff;
        border-color: $light-c;
        background-color: $light-c;
    }
    &.__active {
        color: $dark-c;
        border-color: $dark-c;
        background-color: #fff;
    }
}
span.paginationPoint {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: #fff;
    border: 2px solid transparent;
}
.catalogGrid {
    display: flex;
    flex-wrap: wrap;
    &.catalogGrid-list {
        .catalogGrid__item {
            width: 100%;
            margin-bottom: 0;
        }
    }
}
.catalogGrid__item {
    width: 25%;
    margin-bottom: 10px;
    border-bottom: 1px solid $extra-light-c;
}
.helpBtn {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent;
    border: none;
    vertical-align: middle;
    margin-left: 2px;
    margin-bottom: 3px;
    svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: $extra-dark-c;
        transition: .25s fill;
    }
    &:hover,
    &.__active,
    &[aria-describedby] {
        svg {
            fill: $light-c;
        }
    }
}
.helpBtn__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalogFilter__labels {
    display: none;
    .catalogChoice {
        margin: 0;
        padding: 0px 0 10px;
    }
}
.catalogFilter__head {
    display: none;
}
.filterMobHead {
    background-color: $light-c;
    padding: 13px 16px;
}
.filterMobHead__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filterMobHead__text {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    display: flex;
    align-items: center; 
    .quantBox {
        color: $light-c;
        background-color: $extra-warm-c;
        margin-left: 5px;
    }
}
.adaptFilter {
    display: none;
}
.fileterOpen {
    border: none;
    display: block;
    line-height: 25px;
    font-weight: 500;
    background-color: $extra-standart-c;
    padding: 10px 16px;
    width: 220px;
    max-width: 100%;
}
.fileterOpen__span {
    display: flex;
    align-items: center;
}
.fileterOpen__ico {
    width: 22px;
    height: 21px;
    margin-right: 10px;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: $dark-c;
    }
}
.fileterOpen__text {
    display: flex;
    align-items: center;
    .quantBox {
        color: $light-c;
        background-color: $extra-warm-c;
        margin-left: 5px;
    }
}
[data-f-quant] {
    display: none;
    &.__active {
        display: block;
    }
}
.sortingElement__top {
    display: none;
}
.sortingElement__head {
    border: 1px solid $extra-light-c;
    background-color: #fff;
    font-size: 16px;
    line-height: 19px;
    padding: 11px 10px 10px;
    min-height: 44px;
    display: flex;
    align-items: center;
}
.sortingElement__txt {
    display: flex;
    align-items: center;
    color: $extra-dark-c;
    .sortingList__ico svg {
        fill: $extra-dark-c;
    }
}
.sortingElement__ico {
    margin-left: auto;
    svg {
        display: block;
        fill: $light-c;
        width: 9px;
        height: 6px;
        transform: .25s transform;
    }
}
.sortingElement {
    &.__active {
        .sortingElement__ico svg {
            transform: scale(1, -1);
        }
        .sortingElement__head {
            border: 1px solid $light-c;
        }
    }
}
.sortingBar__item.sortingBar__item-filter {
    display: none;
}
.sitePagination.sitePagination-mobile {
    display: none;
}
.catalogGrid.catalogGrid-list {
    .catalogGrid__item:first-child {
        border-top: 1px solid $extra-light-c;
    }
}
.productEl__mobi {
    display: none;
}
@media (max-width: 1670px) {
    .categoryNext__inner {
        .catalogMenuList__item {
            width: 33.3%;
        }
        .catalogMenuPoint__img {
            width: 50px;
            min-width: 50px;
            height: 50px;
        }
    }
}
@media (max-width: 1570px) {
    .catalogGrid__item {
        width: 33.3%;
    }
}
@media (max-width: 1230px) {
    .categoryNext__inner {
        .catalogMenuList__item {
            width: 50%;
        }
    }
    .catalogGrid__item {
        padding-bottom: 9px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .catalogGrid {
        margin-left: -10px;
        margin-right: -10px;
    }
}
@media (max-width: 1170px) {
    .catalogMain__top {
        margin-bottom: 16px;
    }
    .catalogMain__item.catalogMain__item-filter {
        max-width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        padding: 0;
        background-color: #fff;
        z-index: 102;
        transform: translateX(-110%);
        transition: .25s transform;
        &.__active {
            transform: translateX(0%);
        }
    }
    .catalogMain__item.catalogMain__item-main {
        width: 100%;
    }
    .catalogFilter__labels,
    .catalogFilter__head {
        display: block;
    }
    .catalogFilter,
    .catalogFilter__doc {
        height: 100%;
    }
    .catalogFilter__doc {
        display: flex;
        flex-direction: column;
    }
    .catalogFilter__inner {
        flex-grow: 1;
        overflow: auto;
        padding: 10px 16px 0px;
        position: relative;
    }
    .catalogFilter__btn {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: -16px;
        margin-right: -16px;
    }
    .catalogFilter__btn {
        padding: 7px 16px;
        background-color: $extra-standart-c;
        border-top: 1px solid $extra-light-c;
    }
    .filterBtnList {
        display: flex;
        margin: 0 -5px;
        .filterBtnList__item {
            margin-bottom: 0px;
            padding: 0 5px;
            &:first-child {
                width: calc(100% - 54px);
            }
        }
        .customBtn.customBtn-del {
            width: 44px;
            .customBtn__ico, .customBtn__ico.customBtn__ico-big {
                margin-right: 0;
            }
            .customBtn__text {
                display: none;
            }
        }
    }
    .catalogFilter__static {
        margin-bottom: 0;
    }
    .catalogMain__item-main .catalogChoice,
    .catalogMain__item-main .catalogChoice.__active {
        display: none;
    }
    .adaptFilter {
        display: block;
    }
    .sortingList__item.sortingList__item-price {
        display: block;
    }
    .filterFly,
    .sortingElement__label {
        display: none;
    }
    .sortingList {
        flex-direction: column;
        margin: 0;
        width: 100%;
        border: 1px solid $light-c;
        border-top: none;
    }
    .sortingElement__list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 10;
    }
    .sortingElement {
        width: 204px;
        position: relative;
    }
    .sortingList__item {
        padding: 0;
    }
    .sortingList__link {
        color: $dark-c;
        background-color: #fff;
        font-size: 16px;
        line-height: 19px;
        padding: 11px 10px 10px;
        svg {
            fill: $dark-c;
        }
    }
    .sortingElement__top {
        display: block;
    }
    .sortingElement {
        &.__active {
            .sortingElement__list {
                display: block;
            }
            .sortingElement__txt {
                color: $dark-c;
                .sortingList__ico svg {
                    fill: $dark-c;
                }
            }
        }
    }
    .sortingBar {
        background-color: #ffffff;
        padding: 0px;
    }
    .sortingBar__item.sortingBar__item-filter {
        display: block;
        order: -1;
    }
    .sortingBar__item.sortingBar__item-sort {
        margin-right: auto;
    }
}
@media (max-width: 875px) {
    .categoryNext__inner {
        .catalogMenuList {
            margin: -2px 0 0;
        }
        .catalogMenuList__item {
            width: 100%;
            padding: 2px 0 0;
        }
        .catalogMenuPoint__img {
            width: 40px;
            min-width: 40px;
            height: 40px;
        }
        .catalogMenuPoint__name {
            font-size: 15px;
            line-height: 20px;
            max-width: 100%;
        }
        .catalogMenuPoint__extra .quantBox {
            display: none;
        }
        .cmpExtraBtn {
            width: 34px;
            height: 34px;
            background-color: $extra-light-c;
        }
        .cmpExtra__btn {
            width: 34px;
            min-width: 34px;
        }
        .catalogMenuPoint .catalogMenuPoint__inner {
            min-height: 44px;
            padding: 1px 5px 3px 1px;
        }
    }
    .nextDropdown__main .nextDropPoint {
        font-size: 16px;
    }
    .nextDropPoint {
        font-size: 15px
    }
    .catalogMain__top {
        .categoryNext__inner .catalogMenuPoint__extra .quantBox {
            display: flex;
        }
    }
    .pagArrow {
     background-color: $extra-standart-c;
    }
}
@media (max-width: 576px) {
    .catalogGrid__item {
        width: 50%;
    }
    .productEl__layout {
        .charList__inner {
            font-size: 13px;
            line-height: 16px;
        }
        .charList__item {
            margin-bottom: 6px;
        }
    }
    .productEl__mobi {
        display: flex;
        flex-direction: column;
        align-items: center;
        .raitElement__text {
            margin-left: 0;
        }
    }
    .productMobRev {
        margin-bottom: 10px;
    }
    .productMobStar {
        margin-bottom: 7px;
    }
    .sortingBar__item.sortingBar__item-filter {
        order: 1;
        width: calc(100% + 10px);
        padding-left: 0;
        padding-right: 0;
        margin-left: -5px;
        margin-right: -5px;
    }
    .fileterOpen {
        width: 100%;
    }
    .sitePagination.sitePagination-desktop {
        display: none;
    }
    .sitePagination.sitePagination-mobile {
        display: block;
    }
    .pagArrow {
        width: 40px;
        min-width: 40px;
        height: 40px;
    }
    .sitePagination__arrow-prev {
        margin-right: 0px;
    }
    .sitePagination__arrow-next {
        margin-left: 0px;
    }
    a.paginationPoint,
    span.paginationPoint {
        width: 36px;
        min-width: 36px;
        height: 36px;
    }
    .paginationPoint.paginationPoint-dots {
        width: 14px;
        min-width: 14px;
    }
    .mainCatalog__nav {
        margin-top: 0;
    }
    .mainCatalog__btn .customBtn {
        width: 100%;
    }
}