.leadProduct {
    position: relative;
    display: flex;
    flex-direction: column;
    &::before {
        content: "";
        bottom: 0;
        right: 0;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid $dark-c;
        opacity: 0;
        visibility: hidden;
        transition: .25s transform, .25s opacity, .25s visibility;
    }
    &:hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }
        .productActivity {
            .activityBtn {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
            .fastBtn {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    .productActivity {
        .activityBtn.__active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}
.salesLeaders__inner {
    display: flex;
    flex-wrap: wrap;
}
.salesLeaders__side {
    width: 40%;
    padding-right: 20px;
}
.salesLeaders__main {
    width: 60%;
}
.leadProduct__inner {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
.leadProduct__view {
    width: calc(50% + 10px);
}
.leadProduct__info {
    width: calc(50% - 10px);
}
.leadProduct__vertical {
    display: flex;
    flex-direction: column;
}
.salesLeaders__item {
    display: flex;
    flex-direction: column;
    & > * {
        flex-grow: 1;
    }
}
.leadInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: $light-c;
    .leadLayout {
        padding: 79px 20px 34px;
    }
}
.leadView {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $extra-light-c;
    border-right: 1px solid $extra-light-c;
    border-bottom: 1px solid $extra-light-c;
    background-color: $extra-standart-c;
    .leadLayout {
        padding: 41px 20px 34px;
    }
}
.productView {
    width: 100%;
    height: 278px;
    background-color: #fff;
    position: relative;
    
}
.productView__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    picture {
        height: 100%;
        display: block;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}
.productLabels {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .25s bottom;
}
.productLabels__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -5px -2.5px 0;
}
.productLabels__item {
    padding: 5px 2.5px 0;
}
.leadView__img {
    margin-bottom: 22px;
}
.leadRait__top {
    margin-bottom: 9px;
}
.leadRait__text {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    .rait {
        font-size: 22px;
        font-weight: bold;
    }
}
.leadStars {
    display: flex;
    justify-content: center;
    margin: 0 -3px;
}
.leadStars__item {
    padding: 0 3px;
}
.starsLine {
    overflow: hidden;
    position: relative;
}
.leadStar {
    width: 19px;
    height: 18px;
    img, svg {
        width: 100%;
        height: 100%;
        display: block;
    }
    svg {
        fill: $extra-dark-c;
        transition: .25s fill;
    }
}
.leadView__rait {
    margin-bottom: 12px;
}
.reviewQ {
    text-align: center;
    display: block;
    width: 100%;
    color: $extra-dark-c;
    font-size: 15px;
    line-height: 20px;
    &:hover {
        color: $light-c;
    }
}
.productCateg {
    display: flex;
    align-items: center;
}
.productCateg__ico {
    width: 22px;
    height: 22px;
    margin-right: 9px;
    svg, img {
        width: 100%;
        display: block;
    }
    svg {
        fill: $light-c;
    }
}
.leadInfo__catg {
    .productCateg__ico {
        svg {
            fill: $dark-c;
        }
    }
    margin-bottom: 25px;
}
.productCateg__text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
.productName {
    display: block;
    overflow: hidden;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    &:hover {
        color: $light-c;
    }
}
.productLabel {
    font-size: 14px;
    line-height: 17px;
    padding: 5px 8px 4px 7px;
    background-color: $dark-c;
    color: #fff;
    font-weight: 500;
    &.productLabel-lead {
        background-color: $light-c;
    }
}
.leadInfo__name {
    .productName {
        font-size: 20px;
        line-height: 26px;
        height: 52px;
        font-weight: 500;
        &:hover {
            color: $dark-c;
        }
    }
    margin-bottom: 17px;
}
.leadInfo__price {
    margin-bottom: 20px;
}
.prodPrice {
    display: flex;
    flex-wrap: wrap;
}
.price-cur {
    font-size: 22px;
    line-height: 1;
    font-weight: 900;
}
.price-old {
    font-size: 16px;
    line-height: 22px;
    color: $extra-dark-c;
    text-decoration: line-through;
}
.price-sale {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background-color: $light-c;
    padding: 5px 7px 4px 7px;
}
.leadInfo__price {
    .price-cur {
        font-size: 40px;
    }
    .price-old {
        color: $extra-light-c;
        font-size: 20px;
        line-height: 26px;
    }
    .price-sale {
        background-color: #fff;
        color: $light-c;
    }
    .prodPrice__side {
        padding-left: 8px;
        padding-top: 2px;
    }
}
.leadInfo__bi:not(:last-child) {
    margin-bottom: 10px;
}
.leadInfo__bi .customBtn {
    width: 100%;
}
.leadLayout {
    overflow: hidden;
    position: relative;
    z-index: 2;
    flex-grow: 1;
}
.productActivity__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -5px;
}
.productActivity__item {
    padding: 0 5px;
}
.productActivity__item.productActivity__item-fv {
    margin-right: auto;
}
.productActivity {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    z-index: 5;
    .activityBtn {
        transform: translateY(-40px);
        opacity: 0;
        visibility: hidden;
        transition: .25s transform, .25s opacity, .25s visibility;
    }
    .fastBtn {
        transform: translateY(-40px);
        opacity: 0;
        visibility: hidden;
        transition: .25s transform, .25s opacity, .25s visibility, .25s color;
    }
}
.leadView {
    .productActivity {
        padding: 0 20px;
    }
}
.productRow:not(.slick-slider) {
    display: flex;
    overflow: hidden;
    .productRow__item {
        width: 20%;
        min-width: 20%;
    }
    &.productRow-min {
        .productRow__item {
            width: 33.33%;
            min-width: 33.33%;
        }
    }
}
.productRow__item {
    display: flex;
    flex-direction: column;
}
.productEl {
    flex-grow: 0;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px;
    &::before {
        content: "";
        bottom: 0;
        right: 0;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid $dark-c;
        opacity: 0;
        visibility: hidden;
        // transition: .25s opacity, .25s visibility;
    }
    &.__hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }
        .productActivity {
            .activityBtn {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
            .fastBtn {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
        .productCateg {
            opacity: 0;
            visibility: hidden;
        }
        .productEl__btns {
            display: block;
        }
        .productCartLine__cart {
            display: none;
        }
        .productLabels {
            bottom: 57px;
        }
        .productEl__name {
            margin-top: -57px;
        }
    }
    .productActivity {
        .activityBtn.__active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}
.productEl__layout {
    position: relative;
    z-index: 3;
    flex-grow: 0;
    overflow: hidden;
    padding: 41px 0 19px;
    .productCateg {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 1;
        top: 11px;
        transition: .25s opacity, .25s visibility;
    }
}
.productCartLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productCartLine__cart {
    margin-left: 5px;
    transition: .25s opacity, .25s visibility;
}
.productEl__name {
    padding-top: 15px;
    margin-bottom: 15px;
    position: relative;
    z-index: 4;
    background-color: #fff;
}
.prodPrice__side {
    padding-left: 8px;
}
.productCartLine .price-cur {
    margin-bottom: 2px;
    &:last-child {
        margin-bottom: 0;
    }
}
.productEl__cart {
    min-height: 47px;
}
.slick-slider .slick-track .slick-slide> .productEl {
    flex-grow: 0;
}
.cartIco {
    width: 44px;
    height: 44px;
    background-color: $extra-standart-c;
    border: 1px solid $extra-light-c;
    cursor: pointer;
    transition: .25s background-color, .25s color;
}
.cartIco__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 22px;
        height: 22px;
        display: block;
        fill: $dark-c;
    }
}
.prodBtnList {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -5px 0;
}
.prodBtnList__item {
    padding: 10px 5px 0;
    &.prodBtnList__item-grow {
        width: 100%;
        flex-grow: 1;
    }
    &.prodBtnList__item-small {
        width: 120px;
    }
    &.prodBtnList__item-big {
        width: calc(100% - 120px);
        flex-grow: 1;
    }
    .customBtn {
        width: 100%;
    }
}
.productEl__btns {
    display: none;
    margin-top: -20px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: #fff;
    border-left: 2px solid $dark-c;
    border-right: 2px solid $dark-c;
    border-bottom: 2px solid $dark-c;
    &.__active {
        display: block;
    }
}
.counterBox {
    width: 100%;
    border: 1px solid $extra-light-c;
    background-color: #fff;
    transition: .25s border;
    &:hover {
        border-color: $extra-dark-c;
    }
    &.__focus {
        border-color: $light-c;
        .counterBox__btn,
        .counterBox__input {
            color: $dark-c;
        }
    }
}
.counterBox__inner {
    display: flex;
}
.counterBox__btn {
    width: 30px;
    height: 42px;
    border: none;
    background-color: transparent;
    color: $extra-dark-c;
    font-weight: 500;
    transition: .25s color;
}
.counterBox__field {
    max-width: calc(100% - 60px);
    flex-grow: 1;
    .counterBox__input {
        width: 100%;
        display: block;
        height: 42px;
        text-align: center;
        color: $extra-dark-c;
        border: none;
        transition: .25s color;
    }
}
[data-product-buy] {
    display: none !important;
}
[data-product-no-buy] {
    display: block !important;
}
.__in-cart {
    [data-product-buy] {
        display: block !important;
    }
    [data-product-no-buy] {
        display: none !important;
    }
}
.prodBtnList__item.prodBtnList__item-adapt {
    display: none;
}
.leadInfo__adapt {
    display: none;
}
.leadFlex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -4px -4px 0;
}
.leadFlex__item {
    padding: 4px 4px 0;
}
.leadInfo {
    .customBtn.customBtn-dark .customBtn__basket svg {
        fill: #fff;
    }
}
.productLabels__item.productLabels__item-btn {
    display: none;
}
.categoryBox {
    overflow: hidden;
}
.categoryBox__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -7.5px 0;
}
.categoryBox__item {
    padding: 15px 7.5px 0;
    display: flex;
    flex-direction: column;
}
.sideProd {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $extra-warm-c;
    transition: .25s background-color;
    padding: 33px 31px 19px;
    overflow: hidden;
    position: relative;
    &:hover {
        background-color: $light-c;
        .sideProd__name {
            color: #fff;
        }
    }
}
.sideProd__name {
    font-size: 26px;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
    color: $light-c;
    text-transform: uppercase;
    transition: .25s color;
    margin-bottom: 18px;
    position: relative;
    z-index: 2;
}
.sideProd__type {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}
.categoryBox__side {
    width: 33.33%;
}
.categoryBox__main {
    width: 66.66%;
}
.sideProd__img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 114px 31px 19px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img {
        display: block;
        width: 100%;
    }
}
.categoryList {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -7.5px 0;
}
.categoryList__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px 7.5px 0;
}
.categoryPoint {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 30px;
    background-color: $extra-standart-c;
    position: relative;
    flex-grow: 1;
    transition: .25s background-color;
    &:hover {
        background-color: $light-c;
        .categoryPoint__q {
            color: #fff;
        }
    }
}
.categoryPoint__inner {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.categoryPoint__img {
    width: 100px;
    height: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 28px;
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}
.categoryPoint__ico {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.categoryPoint__arrow {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: .25s background-color;
    svg {
        width: 24px;
        height: 11px;
        display: block;
        fill: #242424;
        transition: .25s fill;
    }
}
.categoryPoint__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 7px;
    padding-top: 3px;
    overflow: hidden;
    max-height: 53px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.categoryPoint__q {
    font-size: 16px;
    line-height: 25px;
    color: $extra-dark-c;
    transition: .25s color;
}
.provideServices {
    position: relative;
    padding: 30px 0
}
.provideServices__bg {
    background-color: $light-c;
}
.provideServices__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 86px;
    padding-top: 85px;
    padding-right: 66.35%;
}
.provideServices__title {
    margin-bottom: 31px;
    .title-h2 {
        margin-bottom: 0;
    }
}
.provideServices__item {
    padding-left: 50px;
}
.provideServices__abs {
    position: absolute;
    right: 0;
    width: 66.35%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.provideList {
    display: flex;
    align-items: center;
    margin: 0 -7px;
}
.provideList__item {
    padding: 0 7px;
    width: 50%;
}
.provideEl {
    display: block;
    overflow: hidden;
    position: relative;
    &:hover {
        .provideEl__name {
            color: $light-c;
        }
        .provideEl__img img {
            transform: scale(1.1);
        }
    }
}
.provideEl__name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    padding: 24px 29px 24px;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba($color: $dark-c, $alpha: .75);
    border-top: 2px solid $light-c;
    transition: .25s color;
}
.provideEl__img {
    picture, img {
        display: block;
        width: 100%;
    }
    img {
        transition: .25s transform;
    }
}
.color-bg {
    background-color: $light-c;
    padding: 32px 0 40px;
}
.shopList {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px 0;
}
.shopList__item {
    width: 12.5%;
    padding: 10px 10px 0;
}
.shopLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    height: 135px;
    background-color: #fff;
}
.shopLink img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.provide-txt {
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 1670px) {
    .leadInfo__price .price-cur {
        font-size: 36px;
    }
    .shopLink {
        padding: 5px 8px;
    }
    .shopLink {
        height: 100px;
    }
    .leadInfo__price .prodPrice__side {
        padding-left: 10px;
        padding-top: 5px;
    }
    .leadInfo__name {
        margin-bottom: 19px;
    }
    .productView {
        height: 250px;
    }
    .leadView .leadLayout {
        padding-top: 39px;
        padding-bottom: 25px;
    }
    .leadView__img {
        margin-bottom: 30px;
    }
    .productEl__layout {
        padding-bottom: 17px;
    }
    .categoryPoint__img {
        width: 75px;
        height: 75px;
        min-width: 75px;
        margin-right: 20px;
    }
    .categoryPoint__name {
        font-size: 18px;
    }
    .categoryPoint__arrow {
        width: 44px;
        height: 44px;
    }
    .sideProd__name {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .sideProd__type {
        font-size: 18px;
    }
    .sideProd {
        padding-top: 22px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .categoryPoint {
        padding: 20px;
    }
    .sideProd__img {
        padding: 84px 38px 19px;
    }
}
@media (max-width: 1500px) {
    .salesLeaders__side {
        width: 50%;
        padding-right: 0px;
    }
    .provideEl__name {
        font-size: 20px;
        line-height: 24px;
        padding: 20px 24px;
    }
    .provideServices__inner {
        padding-top: 64px;
        padding-bottom: 65px;
    }
    .provideServices__title {
        margin-bottom: 22px;
    }
    .productRow:not(.slick-slider) {
        .productRow__item {
            width: 25%;
            min-width: 25%;
        }
        &.productRow-min {
            .productRow__item {
                width: 50%;
                min-width: 50%;
            }
        }
    }
    .salesLeaders__main {
        width: 50%;
    }
    .productRow.slick-slider .slick-list {
        padding-right: 2px;
    }
    .leadProduct__info,
    .leadProduct__view {
        width: 50%;
    }
    .leadInfo .leadLayout {
        padding: 65px 20px 34px;
    }

}
@media (max-width: 1230px) {
    .productEl__layout .productCateg {
        background-color: $extra-light-c;
        padding: 4px 6px;
        width: auto;
    }
    .shopLink {
        height: 50px;
        padding: 3px 7px;
    }
    .shopList__item {
        padding-left: 6px;
        padding-right: 6px;
    }
    .shopList {
        margin-left: -6px;
        margin-right: -6px;
    }
    .provideServices__item {
        padding-left: 30px;
    }
    .provideServices {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .provideEl__name {
        border-top: none;
        font-size: 18px;
        line-height: 25px;
        white-space: normal;
        min-height: 70px;
        padding: 10px 17px;
        display: flex;
        align-items: center;
    }
    .provideServices__inner {
        padding-top: 29px;
        padding-bottom: 28px;
    }
    .provideServices__title {
        margin-bottom: 17px;
    }
    .productCateg__ico {
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    .productCateg__ico svg {
        width: 100%;
        height: 100%;
    }
    .productCateg__text {
        font-size: 12px;
        line-height: 14px;
        padding-top: 2px;
    }
    .productView {
        height: 200px;
    }
    .productCartLine__cart {
        display: none;
    }
    .productEl__btns {
        position: static;
        display: block;
        margin-top: 0;
        width: 100% !important;
        border: none;
        padding: 0;
    }
    .productActivity {
        display: none;
    }
    .customBtn.customBtn-light.customBtn-basket,
    .customBtn.customBtn-dark.customBtn-basket {
        width: 65px;
        .customBtn__text {
            display: none;
        }
        .customBtn__inner {
            justify-content: center;
        }
        .customBtn__basket {
            background-color: transparent;
            height: 34px;
            margin-left: 0;
        }
    }
    .counterBox__field .counterBox__input,
    .counterBox__btn {
        height: 38px;
    }
    .leadInfo__btn,
    .productEl {
        .customBtn .customBtn__inner {
            min-height: 36px;
        }
    }
    .prodBtnList__item.prodBtnList__item-small {
        width: 97px;
    }
    .prodBtnList {
        margin: -5px -2.5px 0;
    }
    .prodBtnList__item {
        padding: 5px 2.5px 0;
    }
    .leadInfo__name .productName {
        font-size: 16px;
        line-height: 20px;
        height: 40px;
    }
    .leadInfo__price .price-cur {
        font-size: 18px;
        padding-bottom: 3px;
    }
    .leadInfo__price .price-old {
        font-size: 14px;
        line-height: 16px;
    }
    .price-sale {
        font-size: 12px;
        line-height: 14px;
        padding: 4px 5px 4px 5px;
    }
    .productEl {
        padding-left: 0px;
        padding-right: 0px;
    }
    .productRow {
        margin-right: -10px;
    }
    .productRow__item {
        padding: 0 10px;
    }
    .salesLeaders__side {
        padding-right: 10px;
    }
    .leadProduct__info {
        width: calc(50% - 9px);
    }
    .leadProduct__view {
        width: calc(50% + 9px);
    }
    .productEl__layout .productCateg {
        opacity: 1 !important;
        visibility: visible !important;
        top: -2px;
    }
    .productEl::before {
        display: none;
    }
    .productRow.slick-slider .slick-list {
        padding-right: 0px;
    }
    .productLabel {
        font-size: 12px;
        line-height: 14px;
        padding: 4px 5px;
    }
    .productEl__layout {
        padding-top: 26px;
        padding-bottom: 0;
    }
    .productName {
        font-size: 15px;
        line-height: 20px;
    }
    .productEl__name {
        padding-top: 11px;
        margin-bottom: 4px;
    }
    .price-cur {
        font-size: 18px;
    }
    .price-old {
        font-size: 14px;
        line-height: 20px;
    }
    .prodPrice__side {
        padding-left: 9px;
        padding-top: 1px;
    }
    .leadInfo__btn .customBtn, 
    .productEl .customBtn {
        font-size: 14px;
    }
    .leadView .leadLayout {
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
    }
    .leadView__img {
        margin-bottom: 55px;
    }
    .leadStars__item {
        padding: 0 1.5px;
    }
    .leadInfo .leadLayout {
        padding: 98px 16px 34px;
    }
    .leadInfo__catg {
        margin-bottom: 20px;
    }
    .leadInfo__name {
        margin-bottom: 13px;
    }
    .leadInfo__price .prodPrice__side {
        padding-left: 9px;
        padding-top: 2px;
    }
    .leadInfo__price {
        margin-bottom: 11px;
    }
    .leadInfo__bi:not(:last-child) {
        margin-bottom: 5px;
    }
    .prodBtnList__item.prodBtnList__item-adapt {
        display: block;
        align-self: center;
        flex-grow: 1;
    }
    .prodBtnList__item.prodBtnList__item-big {
        width: 70px;
        max-width: 70px;
    }
    .adaptActivity {
        display: flex;
        justify-content: flex-end;
        margin: 0 -5px;
    }
    .adaptActivity__item {
        padding: 0 5px;
        .activityBtn {
            display: block;
        }
    }
    .slick-slider .slick-track .slick-slide>.productEl {
        flex-grow: 1;
        .productEl__btns {
            margin-top: auto;
        }
    }
    .prodBtnList__item.prodBtnList__item-inbasket.prodBtnList__item-grow {
        max-width: 70px;
    }
    .leadInfo__adapt {
        display: block;
    }
    .leadInfo__desktop {
        display: none;
    }
    .categoryPoint__ico {
        display: none;
    }
    .sideProd__name {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 4px;
        padding-top: 0px;
    }
    .sideProd__type {
        font-size: 17px;
    }
    .sideProd__img {
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    .sideProd {
        padding-top: 25px;
    }
    .categoryPoint__name {
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 5px;
        padding-top: 0;
        max-height: 48px;
    }
    .categoryPoint {
        padding: 20px;
    }
    .categoryPoint__q {
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 998px) {
    .shopArea {
        overflow: auto;
        margin-right: -15px;
    }
    .shopList__item {
        width: 25%;
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 0;
        min-width: 120px;
        align-content: flex-start;
    }
    .shopList {
        flex-direction: column;
        max-height: 120px;
    }
    .shopList {
        margin: 0;
    }
    .prodBtnList__item.prodBtnList__item-small {
        max-width: calc(100% - 140px);
    }
    .provideServices {
        padding-top: 0;
        padding-bottom: 0;
    }
    .provideServices__abs {
        width: 100%;
        display: block;
        position: static;
        padding: 0 0 0 6px;
        margin-bottom: 15px;
        overflow: auto;
    }
    .provideServices__inner {
        padding-right: 0;
    }
    .provideServices__item {
        padding: 0 16px;
    }
    .categoryPoint__img {
        width: 50px;
        height: 50px;
        min-width: 50px;
    }
    .provideList__item {
        padding: 0 0 0 10px;
        min-width: 240px;
    }
    .provideList {
        margin: 0;
    }
    .provideServices__title {
        margin-bottom: 8px;
    }
    .categoryBox__main,
    .categoryBox__side {
        width: 100%;
    }
    .sideProd__inner {
        display: flex;
        align-items: center;
    }
    .sideProd__img {
        padding: 0;
        position: relative;
        order: -1;
        height: 104px;
        min-width: 122px;
        padding-right: 10px;
        img {
            position: absolute;
            height: 100%;
            top: 50%;
            left: 44%;
            width: auto;
            transform: translate(-50%, -50%);
        }
    }
    .sideProd__name,
    .sideProd__type {
        text-align: left;
    }
}

@media (max-width: 960px) {
    .salesLeaders__item.salesLeaders__side {
        display: none;
    }
    .color-bg {
        padding: 25px 0 21px;
    }
    .productRow:not(.slick-slider) {
        .productRow__item {
            width: 33.3%;
            min-width: 33.3%;
        }
        &.productRow-min {
            .productRow__item {
                width: 33.3%;
                min-width: 33.3%;
            }
        }
    }
    .salesLeaders__main {
        width: 100%;
    }
    .productRow {
        margin-right: -10px;
        margin-left: -10px;
    }
}
@media (max-width: 875px) {
    .productArrowAdapt {
        margin-top: 15px;
        .titleBar__arrow {
            justify-content: center;
        }
    }
}
@media (max-width: 768px) {
    .prodBtnList__item.prodBtnList__item-small {
        display: none !important;
    }
    .categoryPoint__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .categoryPoint__img {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .sideProd__name {
        font-size: 16px;
        line-height: 22px;
    }
    .sideProd__type {
        font-size: 15px;
        line-height: 20px;
    }
    .sideProd {
        padding: 17px 17px 13px;
    }
    .categoryPoint {
        padding: 15px 14px;
    }
    .categoryPoint__name {
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 670px) {
    .productView {
        height: 134px;
    }
    .provideServices__inner {
        padding-top: 25px;
    }
    .provideServices__item {
        padding: 0 15px;
    }
    .provideServices__btn .customBtn {
        width: 100%;
    }
    .provideServices {
        margin: 0 -15px;
    }
    .provideEl__name {
        line-height: 22px;
        min-height: 68px;
        max-height: 68px;
        overflow: hidden;
    }
    .provide-txt {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
@media (max-width: 576px) {
    .productView {
        height: 134px;
    }
    .color-bg .title-h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .categoryPoint__name {
        margin-bottom: 0;
    }
    .categoryPoint__q {
        display: none;
    }
    .productRow:not(.slick-slider) {
        .productRow__item {
            width: 50%;
            min-width: 50%;
        }
        &.productRow-min {
            .productRow__item {
                width: 50%;
                min-width: 50%;
            }
        }
    }
    .productLabels__inner {
        margin: -2px -1px 0;
    }
    .productLabels__item {
        padding: 2px 1px 0;
    }
    .productEl__layout {
        padding-top: 0;
    }
    .productName {
        font-size: 14px;
    }
    .productEl__name {
        margin-bottom: 3px;
    }
    .prodPrice__side {
        padding-left: 6px;
    }
    .productLabels__item.productLabels__item-btn {
        display: block;
        .cmpExtraBtn {
            width: 22px;
            height: 22px;
            background-color: $extra-light-c;
            &.__active svg {
                transform: rotate(90deg);
            }
        }
    }
    .productLabels__item:nth-child(1) {
        order: -2;
    }
    .productLabels__item.productLabels__item-btn {
        order: -1;
    }
    .productEl__layout .productLabels .productCateg {
        position: static;
        margin: 2px 1px 0;
        max-width: calc(100% -2px);
    }
    .productLabels {
        bottom: auto;
        top: 0;
    }
    .categoryBox__inner,
    .categoryList {
        margin: -6px -3px 0;
    }
    .categoryBox__item,
    .categoryList__item {
        padding: 6px 3px 0;
    }
}