@import "./parts/_themes.scss";
@import "./parts/_fonts.scss";
@import "./parts/_main.scss";

@import "./components/_header.scss";
@import "./components/_footer.scss";
@import "./components/_search.scss";
@import "./components/_mainbanner.scss";
@import "./components/_advantages.scss";
@import "./components/_products.scss";
@import "./components/_catalog.scss";
.site-container {
    width: 100%;
    max-width: 1670px;
    padding: 0 25px;
    margin: 0 auto;
}
.grayBtn {
    background-color: $extra-standart-c;
    border: 1px solid $extra-light-c;
    display: block;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: 500;
    padding: 13px 10px 12px;
    width: 100%;
    transition: .25s color, .25s background-color;
    &:hover {
        color: $light-c-hov;
        background-color: $dark-c;
    }
}
.grayBtn__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.borderlink {
    display: block;
    position: relative;
    &:hover,
    &.__active {
        background-color: $extra-standart-c;
        &::after,
        &::before {
            left: 0px;
            right: 0px;
        }
    }
}
.borderlink::after,
.borderlink::before {
    content: "";
    position: absolute;
    left: 8px;
    right: 8px;
    height: 1px;
    background-color: $extra-light-c;
}
.borderlink::after {
    top: -1px;
}
.borderlink::before {
    bottom: 0;
}
.prodLink__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 80px;
    padding: 5px 0;
}
.prodLink__img {
    width: 70px;
    min-width: 70px;
    height: 70px;
}
.plImg {
    width: 100%;
    height: 100%;
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}
.prodLink__info {
    padding: 0 0 0 15px;
    max-width: calc(100% - 70px);
}
.plName {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
}
.plPrice {
    font-size: 16px;
    line-height: 19px;
}
.plPrice__cur,
.plPrice__old {
    white-space: nowrap;
}
.plPrice__cur {
    font-weight: bold;
    padding-right: 10px;
}
.plPrice__old {
    color: $extra-dark-c;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: normal;
}
.catalog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: $dark-c, $alpha: 0.25);
    opacity: 0;
    visibility: hidden;
    transition: .25s visibility, .25s opacity;
    z-index: 100;
    &.catalog-overlay-adapt {
        z-index: 14;
        display: none;
    }
    &.__active {
        opacity: 1;
        visibility: visible;
    }
}
.socailList {
    list-style: none;
    display: flex;
    margin: -5px -2.5px 0;
}
.socailList__item {
    padding: 5px 2.5px 0;
}
.socailList__link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s background-color, .25s color;
    svg {
        fill: $dark-c;
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: .25s fill;
    }
    &:hover {
        background-color: #fff;
        svg {
            fill: currentColor;
        }
    }
}
.customBtn {
    display: block;
    width: 220px;
    max-width: 100%;
    background-color: $extra-standart-c;
    border: 1px solid #E6E6E6;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    transition: .25s color, .25s border-color, .25s background-color;
    .customBtn__inner {
        min-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .customBtn__ico {
        margin-right: 7px;
        width: 15px;
        height: 15px;
        &.customBtn__ico-big {
            width: 22px;
            height: 22px;
            margin-right: 10px;
        }
        svg {
            fill: $light-c;
            width: 100%;
            height: 100%;
            display: block;
            transition: .25s transform, .25s fill;
        }
    }
    .customBtn__pane {
        margin-left: 8px;
    }
    &:hover {
        background-color: $dark-c;
        border-color: $dark-c;
        color: $light-c;
    }
    &.customBtn-del {
        .customBtn__ico {
            svg {
                fill: $dark-c;
            }
        }
        &:hover {
            .customBtn__ico {
                svg {
                    fill: $light-c;
                }
            }
        }
    }
    &.customBtn-light {
        background-color: $light-c;
        border-color: $light-c;
        &:hover {
            color: $dark-c;
            background-color: $light-c-hov;
            border-color: $light-c-hov;
        }
    }
    &.customBtn-dark {
        border-color: $dark-c;
        background-color: $dark-c;
        color: #fff;
        &:hover {
            color: $light-c;
        }
        .customBtn__basket {
            background-color: #565454;
            svg {
                fill: $light-c;
            }
        }
    }
    &.customBtn-basket {
        .customBtn__inner {
            padding: 2px;
            justify-content: space-between;
        }
        .customBtn__text {
            flex-grow: 1;
            text-align: center;
        }
    }
}
.customBtn__basket {
    width: 38px;
    max-width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    background-color: $light-c-hov;
    transition: .25s background-color;
    svg {
        display: block;
        transition: .25s fill;
    }
}
.customLink {
    line-height: 20px;
    font-weight: 500;
    color: $light-c;
    &:hover {
        text-decoration: underline;
    }
}
.priceEL {
    font-size: 22px;
    white-space: nowrap;
    line-height: 1;
    font-weight: bold;
}
.siteSection {
    margin: 63px 0 63px;
    &.siteSection-small {
        margin-top: 40px;
    }
    &.siteSection-bn {
        margin-bottom: 0px;
    }
    &.siteSection-tn {
        margin-top: 0px;
    }
}
.sliderArrow {
    display: block;
    border: none;
    background-color: transparent;
    width: 50px;
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .25s background-color, .25s border-color;
    &:hover {
        background-color: $extra-light-c;
    }
    svg {
        width: 24px;
        height: 11px;
        display: block;
        fill: $dark-c;
        transition: .25s fill;
    }
    &.sliderArrow-prev {
        svg {
            transform: rotate(180deg);
        }
    }
    &.slick-disabled {
        svg {
            fill: $extra-dark-c;
        }
    }
}

.sliderArrow__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-slider .slick-list {
    flex-grow: 1;
}
.slick-slider .slick-track {
    min-width: 100%;
    display: flex;
    .slick-slide {
        height: auto;
        display: flex;
        flex-direction: column;
        & > * {
            width: 100%;
            flex-grow: 1;
        }
    }
}
.title-h2 {
    display: inline;
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
}
.title-h1 {
    display: inline;
    font-size: 42px;
    line-height: 50px;
    font-weight: bold;
}
.titleBar {
    margin-bottom: 15px;
    &.titleBar-border {
        padding-bottom: 7px;
        border-bottom: 2px solid $extra-light-c;
    }
    &.titleBar-big {
        margin-bottom: 30px;
    }
}
.titleBar__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.titleBar.titleBar-border {
    .titleBar__inner {
        min-height: 50px;
    }
}
.bannerList:not(.slick-slider) {
    display: flex;
    overflow: hidden;
    .bannerList__item {
        width: 50%;
        min-width: 50%;
    }
}
.bannerList {
    margin: 0 -8px;
}
.bannerList__item {
    padding: 0 8px;
}
.bannerMin {
    display: block;
    img {
        width: 100%;
        display: block;
    }
}
.titleBar__arrow {
    display: flex;
    flex-wrap: wrap;
}
.titleBar__side {
    min-width: 100px;
}
.miniBanner__nav {
    display: none;
}
.miniBanner__nav .titleBar__arrow {
    justify-content: center;
    .sliderArrow {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}
.fastBtn {
    font-size: 14px;
    line-height: 22px;
    background-color: transparent;
    display: block;
    max-width: 100%;
    border: none;
    font-weight: 500;
    transition: .25s color;
    cursor: pointer;
    &:hover {
        color: $light-c;
    }
}
.activityBtn {
    background-color: transparent;
    width: 22px;
    height: 22px;
    border: none;
    .activityBtn__inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 100%;
            height: 100%;
            display: block;
            transition: .25s fill;
        }
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &:hover,
    &.__active {
        .activityBtn__inner {
            svg {
                fill: $light-c;
            }
        }
    }
}
.gray-bg {
    padding-top: 52px;
    padding-bottom: 60px;
    background-color: $extra-standart-c;
}
.sectionFlexWrap {
    overflow: hidden;
}
.sectionFlex {
    display: flex;
    flex-wrap: wrap;
    margin: -34px 0px 0;
}
.sectionFlex__item {
    width: 50%;
    padding: 34px 0px 0;
}
.innerSection.innerSection-about {
    padding-right: 50px;
}
.customText p, p {
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}
.customText ul {
    list-style: none;
    margin-bottom: 10px;
    li {
        line-height: 22px;
        margin-bottom: 8px;
        padding-left: 31px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: "";
            position: absolute;
            left: 13px;
            top: 6px;
            width: 8px;
            height: 8px;
            display: block;
            background-color: $light-c;
            transform: rotate(45deg);
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.aboutBox__text {
    margin-bottom: 36px;
    &:last-child {
        margin-bottom: 0;
    }
}
.aboutBox.customText {
    padding-top: 7px;
}
.sertBox__side {
    width: 220px;
    display: flex;
    flex-direction: column;
    padding-right: 0px;
}
.sertBox__ban {
    flex-grow: 1;
    background-color: $extra-warm-c;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    padding: 46px 40px 45px;
}
.sertBox__bi {
    width: 80px;
    height: 81px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    img, svg {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}
.sertBox {
    display: flex;
}
.sertBox__main {
    width: calc(100% - 220px);
}
.sertBoxList {
    display: flex;
}
.sertBoxList__item {
    width: 33.33%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.sertBoxList-overflow {
    overflow: auto;
}
.sertBoxList__sert {
    display: block;
    flex-grow: 1;
    width: 100%;
    background-color: #fff;
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #fff, $alpha: 0.5);
        border: 2px solid $dark-c;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: .25s opacity;
        z-index: 2;
        background-image: url(../img/svg/search.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
}
.sLink {
    display: flex;
    align-items: center;
    color: $light-c;
    font-weight: 500;
    &:hover {
        .sLink__text {
            text-decoration: underline;
        }
    }
}
.sLink__ico {
    width: 24px;
    height: 25px;
    margin-right: 10px;
    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}
.videoItem {
    position: relative;
    &::before {
        content: "";
        display: block;
        padding-top: 58.25%;
    }
    .videoItem__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        iframe {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
.videoBox__list:not(.slick-slider) {
    display: flex;
    overflow: hidden;
    .videoBox__item {
        width: 100%;
        min-width: 100%;
    }
}
.videoBox__list .sliderArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
    &.sliderArrow-prev {
        left: 0;
    }
}
.videoMain__name {
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}
.titleBar__link {
    margin-left: 15px;
    margin-right: auto;
}
.titleBar__inner-baseline {
    .titleBar__link,
    .titleBar__title {
        align-self: baseline;
    }
}
.brandList {
    margin: 0 -5px;
    &:not(.slick-slider) {
        display: flex;
        overflow: hidden;
        .brandList__item {
            width: 16.66%;
            min-width: 16.66%;
        }
    }
}
.brandList__item  {
    padding: 0 5px;
}
.brandArrowAdapt {
    display: none;
    .titleBar__arrow {
        margin-top: 14px;
    }
}
.brItem {
    background-color: #fff;
    height: 120px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}
.articleList {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -15px 0;
}
.articleListItem {
    width: 33.33%;
    padding: 10px 15px 0;
    display: flex;
    flex-direction: column;
}
.articleEl {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $extra-standart-c;
    position: relative;
    overflow: hidden;
    &.articleEl-bg {
        color: #fff;
        background: $dark-c;
        .articleEl__wrap {
            background-image: url(../img/svg/Gradient-Overlay.svg);
            background-size: cover;
            background-position: top;
            transition: .25s background-size;
        }
    }
    &:hover {
        .articleEl__inner {
            border-color: $light-c;
        }
        .categoryPoint__arrow {
            background-color: $light-c;
        }
        .articleEl__img {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}
.articleEl__img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: .25s transform;
}
.articleEl__wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    z-index: 2;
}
.articleEl__name,
.articleEl__info {
    position: relative;
    z-index: 2;
}
.articleEl__inner {
    flex-grow: 1;
    border: 5px solid transparent;
    padding: 35px 35px 61px;
    display: flex;
    flex-direction: column;
    transition: .25s border-color;
}
.articleEl__back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    min-width: 100%;
    min-height: 100%;
}
.articleEl__ico {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 5;
}
.articleTime__ico {
    display: block;
    margin-right: 9px;
    svg {
        display: block;
        fill: $light-c;
    }
}
.articleEl__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 19px;
}
.articleEl__date {
    margin-bottom: 24px;
    position: relative;
    z-index: 2;
}
.articleTime {
    display: flex;
    align-items: center;
}
.articleTime__text {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5px;
}
.articleEl {
    .customText p, p {
        line-height: 24px;
    }
}
.mCSB_scrollTools {
    width: 19px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 5px;
    border-radius: 0px;
    background-color: $extra-dark-c;
    transition: .25s background-color;
    &:hover {
        background-color: $light-c;
    }
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    display: none;
}
.mCSB_scrollTools .mCSB_draggerContainer {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 7px;
        width: 5px;
        background-color: $extra-light-c;
    }
}
.mCSB_scrollTools.mCSB_scrollTools_onDrag .mCSB_draggerRail {
    background-color: $light-c;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: absolute !important;
}
.mCSB_inside>.mCSB_container {
    margin-right: 0;
}
.simpleBtn {
    background-color: transparent;
    border: none;
    display: block;
    font-weight: 500;
    color: $light-c;
    &:hover {
        .simpleBtn__text {
            text-decoration: underline;
        }
    }
}
.simpleBtn__inner {
    display: flex;
    align-items: center;
}
.simpleBtn__ico {
    margin-left: 5px;
    padding-top: 2px;
    svg {
        display: block;
        fill: $light-c;
        transform: rotate(-90deg);
    }
}
.crumbsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -4px;
}
.crumbsList__item {
    padding: 0 4px;
    position: relative;
    &:not(:last-child) {
        &::after {
            content: "—";
            margin-left: 2px;
            color: $extra-dark-c;
        }
    }
}
.crumbsItem {
    font-size: 15px;
    line-height: 18px;
}
a.crumbsItem {
    color: $extra-dark-c;
    &:hover {
        color: $light-c;
    }
}
.breadcrumbBox {
    margin-top: 11px;
    margin-bottom: 6px;
}
.breadcrumbBox + .siteSection {
    margin-top: 0 !important;
}
.adapt-button {
    display: none;
}
.doubleColumnBox.customText {
    margin-top: 25px;
    margin-bottom: -10px;
}
.doubleColumnBox {
    .aboutBox__text {
        column-count: 2;
        column-gap: 99px;
        p {
            break-inside: avoid;
        }
    }
}
.titleBar__sup {
    background-color: $extra-light-c;
    color: $extra-dark-c;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    display: inline-block;
    padding: 0 6px;
    vertical-align: top;
    margin-top: 10px;
}
@media (max-width: 1670px) {
    .plName {
        font-size: 15px;
        line-height: 18px;
    }
    .title-h1 {
        font-size: 36px;
        line-height: 44px;
    }
    .articleEl__inner {
        padding: 19px 21px 45px;
    }
    .brItem {
        height: 100px;
    }
    .articleEl__ico {
        .categoryPoint__arrow {
            width: 50px;
            height: 50px;
        }
    }
    .articleEl__info {
        max-height: 128px;
        overflow: hidden;
        p {
            overflow: hidden;
            max-height: 120px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }
    .articleList {
        margin-left: -5px;
        margin-right: -5px;
    }
    .articleListItem {
        padding-left: 5px;
        padding-right: 5px;
    }
    .articleEl__title {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 22px;
    }
    .siteSection {
        margin: 43px 0;
        &.siteSection-small {
            margin-top: 29px;
        }
    }
    .title-h2 {
        font-size: 32px;
        line-height: 38px
    }
    .videoMain__name {
        font-size: 18px;
    }
    .innerSection.innerSection-about {
        padding-right: 40px;
    }
    .sertBox__side {
        width: 147px;
    }
    .sertBox__main {
        width: calc(100% - 147px);
    }
    .sertBox__bi {
        width: 70px;
        height: 71px;
    }
    .sertBox__ban {
        font-size: 20px;
        line-height: 26px;
        padding: 32px 9px;
    }
    .aboutBox.customText {
        padding-top: 0;
    }
    
}
@media (max-width: 1300px) {
    .site-container {
        padding: 0 20px;
    }
    .aboutBox__text {
        margin-bottom: 22px;
    }
    .innerSection.innerSection-about {
        padding-right: 30px;
    }
    .titleBar__link {
        .sLink {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .customText p, p,
    .customText ul li {
        line-height: 20px;
        font-size: 15px;
    }
    .sertBox__ban {
        font-size: 20px;
        line-height: 26px;
        background-color: transparent;
        padding: 0;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        margin-bottom: 16px;
    }
    .sertBoxList__item {
        width: 33.33%;
        min-width: 130px;
        max-width: 157px;
        padding: 0 10px 0 0;
    }
    .sertBox {
        flex-wrap: wrap;
    }
    .sertBox__main {
        width: 100%;
    }
    .sertBox__side {
        width: 100%;
    }
    .sertBox__bi {
        display: none;
    }
    .sliderArrow {
        width: 40px;
        min-width: 40px;
        height: 40px;
        background-color: $extra-standart-c;
    }
    .titleBar__side {
        min-width: 80px;
    }
    .titleBar__arrow {
        .sliderArrow.sliderArrow-next {
            margin-left: 5px;
        }
    }
    .titleBar.titleBar-border {
        .titleBar__inner {
            min-height: auto;
        }
    }
    .titleBar.titleBar-border {
        padding-bottom: 6px;
        margin-bottom: 6px;
    }
}
@media (max-width: 1230px) {
    .videoBox__arr {
        margin-top: 15px;
        display: flex;
        .sliderArrow.sliderArrow-prev {
            margin-right: 3px;
        }
        .sliderArrow.sliderArrow-next {
            margin-left: 3px;
        }
    }
    .title-h1 {
        font-size: 32px;
        line-height: 38px;
    }
    .articleTime__text {
        margin-top: 3px;
    }
    .articleEl__info {
        max-height: 93px;
    }
    .articleEl__inner {
        padding: 19px 20px 12px;
    }
    .articleEl__ico {
        display: none;
    }
    .articleEl__info p {
        max-height: 80px;
        -webkit-line-clamp: 4;
    }
    .articleTime__ico svg {
        width: 18px;
        height: 18px;
    }
    .articleEl__date {
        margin-bottom: 15px;
    }
    .articleEl__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .articleEl .customText p, .articleEl p {
        line-height: 20px;
    }
    .brItem {
        height: 90px;
    }
    .gray-bg {
        padding-top: 32px;
        padding-bottom: 40px;
    }
    .searchDrop {
        .prodLink__img {
            width: 50px;
            min-width: 50px;
            height: 50px;
        }
        .prodLink__info {
            padding-left: 10px;
        }
        .prodLink__inner {
            min-height: 87px;
        }
        .plName {
            margin-bottom: 7px;
        }
    }
    .title-h2 {
        font-size: 30px;
        line-height: 36px
    }
}
@media (max-width: 1150px) {
    .catalog-overlay {
        display: none;
        &.catalog-overlay-adapt{
            display: block;
            &.__active {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
@media (max-width: 1010px) {
    .site-container {
        padding: 0 15px;
    }
    .siteSection {
        margin: 33px 0;
        &.siteSection-small {
            margin-top: 20px;
        }
    }
}
@media (max-width: 998px) {
    .sectionFlex__item {
        width: 100%;
        padding: 34px 0 0;
    }
    .doubleColumnBox.customText {
        margin-top: 0;
    }
    .doubleColumnBox.customText {
        margin-bottom: 0;
    }
    .doubleColumnBox {
        .aboutBox__text {
            column-count: 1;
            column-gap: 0;
        }
    }
    .videoBox__arr {
        justify-content: center;
        margin-top: 11px;
    }
    .gray-bg {
        padding-top: 23px;
        padding-bottom: 15px;
    }
    .innerSection.innerSection-about {
        padding-right: 0px;
    }
    .videoMain__name {
        font-size: 16px;
        line-height: 22px;
    }
    .videoBox {
        max-width: 576px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 875px) {
    .brandArrowAdapt {
        display: block;
        .titleBar__arrow {
            justify-content: center;
        }
    }
    .titleBar__sup {
        margin-top: 7px;
    }
    .articleEl__info {
        max-height: 77px;
    }
    .title-h1 {
        font-size: 30px;
        line-height: 36px;
    }
    .articleEl__title {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 8px;
    }
    .articleEl .customText p, .articleEl p {
        margin-bottom: 6px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .articleEl__inner {
        padding: 15px 16px 12px;
    }
    .articleListItem {
        width: 50%;
    }
    .articleEl {
        min-height: 223px;
    }
    .brItem {
        height: 80px;
    }
    .brandList {
        margin: 0 -3px;
    }
    .brandList__item  {
        padding: 0 3px;
    }
    .title-h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .bannerList:not(.slick-slider) {
        .bannerList__item {
            width: 100%;
            min-width: 100%;
        }
    }
    .titleBar__arrow .sliderArrow.sliderArrow-next,
    .titleBar__arrow .sliderArrow.sliderArrow-prev {
        margin-left: 2.5px;
        margin-right: 2.5px
    }
    .bannerList {
        margin: 0px;
    }
    .bannerList__item {
        padding: 0px;
    }
    .miniBanner__nav {
        display: block;
        margin-top: 15px;
    }
    .titleBar.titleBar-border {
        .titleBar__inner {
            min-height: auto;
        }
    }
    .titleBar.titleBar-border {
        margin-bottom: 15px;
    }
}
@media (max-width: 670px) {
    .articleEl__info {
        max-height: 88px;
    }
}
@media (max-width: 576px) {
    .titleBar__sup {
        margin-top: 0;
    }
    .titleBar {
        margin-bottom: 7px;
        &.titleBar-big {
            margin-bottom: 15px;
        }
    }
    .adapt-button {
        display: block;
    }
    .aboutBox__adapt {
        display: none;
        &.__active {
            display: block;
        }
    } 
    .articleListItem:nth-child(n + 3) {
        display: none;
    }
    .articleListItem {
        width: 100%;
    }
    .sertBoxList-overflow {
        margin-right: -15px;
    }
    .sectionFlexWrap {
        overflow: visible;
    }
    .sertBox__ban {
        font-size: 18px;
        margin-bottom: 9px;
    }
    .titleBar__inner {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .titleBar__link {
        margin-left: 0;
    }
}
