@import "./parts/_themes.scss";
@import "./parts/_fonts.scss";
@import "./parts/_main.scss";

@import "./components/_header.scss";
@import "./components/_footer.scss";
@import "./components/_search.scss";
@import "./components/_mainbanner.scss";
@import "./components/_advantages.scss";
@import "./components/_products.scss";
@import "./components/_catalog.scss";
@import "./components/_product-card.scss";
@import "./components/_cart.scss";
@import "./components/_order.scss";
@import "./components/_personal.scss";
@import "./components/_compare.scss";
@import "./components/_static.scss";
@import "./components/_review.scss";
@import "./components/_popup.scss";

.site-container {
    width: 100%;
    max-width: 1670px;
    padding: 0 25px;
    margin: 0 auto;
}
.grayBtn {
    background-color: $extra-standart-c;
    border: 1px solid $extra-light-c;
    display: block;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: 500;
    padding: 13px 10px 12px;
    width: 100%;
    transition: .25s color, .25s background-color;
    &:hover {
        color: $light-c-hov;
        background-color: $dark-c;
    }
}
.grayBtn__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.borderlink {
    display: block;
    position: relative;
    &:hover,
    &.__active {
        background-color: $extra-standart-c;
        &::after,
        &::before {
            left: 0px;
            right: 0px;
        }
    }
}
.borderlink::after,
.borderlink::before {
    content: "";
    position: absolute;
    left: 8px;
    right: 8px;
    height: 1px;
    background-color: $extra-light-c;
}
.borderlink::after {
    top: -1px;
}
.borderlink::before {
    bottom: 0;
}
.prodLink__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 80px;
    padding: 5px 0;
}
.prodLink__img {
    width: 70px;
    min-width: 70px;
    height: 70px;
}
.plImg {
    display: block;
    width: 100%;
    height: 100%;
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}
.prodLink__info {
    padding: 0 0 0 15px;
    max-width: calc(100% - 70px);
}
.plName {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
}
a.plName {
    &:hover {
        color: $light-c;
    }
}
.plPrice {
    font-size: 16px;
    line-height: 19px;
}
.plPrice__cur,
.plPrice__old {
    white-space: nowrap;
}
.plPrice__cur {
    font-weight: bold;
    padding-right: 10px;
}
.plPrice__old {
    color: $extra-dark-c;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: normal;
}
.catalog-overlay,
.site-overlay,
.static-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: $dark-c, $alpha: 0.25);
    opacity: 0;
    visibility: hidden;
    transition: .25s visibility, .25s opacity;
    z-index: 100;
    &.__active {
        opacity: 1;
        visibility: visible;
    }
}
.static-overlay {
    height: auto;
    bottom: 0;
    z-index: 101;
}
.site-overlay {
    z-index: 101;
}
.catalog-overlay {
    &.catalog-overlay-adapt {
        z-index: 14;
        display: none;
    }
}
.socailList {
    list-style: none;
    display: flex;
    margin: -5px -2.5px 0;
}
.socailList__item {
    padding: 5px 2.5px 0;
}
.socailList__link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s background-color, .25s color;
    svg {
        fill: $dark-c;
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: .25s fill;
    }
    &.socailList__link-inst {
        &:hover {
            svg {
                fill: url(#Gradient);
            }
        }
    }
    &:hover {
        background-color: #fff;
        svg {
            fill: currentColor;
        }
    }
}
.customBtn {
    display: block;
    width: 220px;
    max-width: 100%;
    background-color: $extra-standart-c;
    border: 1px solid #E6E6E6;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    transition: .25s color, .25s border-color, .25s background-color;
    .customBtn__inner {
        min-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .customBtn__ico {
        margin-right: 7px;
        width: 15px;
        height: 15px;
        &.customBtn__ico-big {
            width: 22px;
            height: 22px;
            margin-right: 10px;
        }
        svg {
            fill: $light-c;
            width: 100%;
            height: 100%;
            display: block;
            transition: .25s transform, .25s fill;
        }
    }
    .customBtn__arrow {
        display: block;
        margin-right: 8px;
        svg {
            display: block;
            width: 8px;
            height: 6px;
            fill: $dark-c;
            transform: rotate(90deg);
            transition: .25s fill;
        }
    }
    .customBtn__pane {
        margin-left: 8px;
    }
    &:hover {
        background-color: $dark-c;
        border-color: $dark-c;
        color: $light-c;
        .customBtn__ico-anim-rotation {
            svg {
                animation: aroundRotate .25s ease;
            }
        }
        .customBtn__arrow {
            svg {
                fill: $light-c;
            }
        }
    }
    &.customBtn-del {
        .customBtn__ico {
            svg {
                fill: $dark-c;
            }
        }
        &:hover {
            .customBtn__ico {
                svg {
                    fill: $light-c;
                }
            }
        }
    }
    &.customBtn-light {
        background-color: $light-c;
        border-color: $light-c;
        &:hover {
            color: $dark-c;
            background-color: $light-c-hov;
            border-color: $light-c-hov;
        }
    }
    &.customBtn-dark {
        border-color: $dark-c;
        background-color: $dark-c;
        color: #fff;
        &:hover {
            color: $light-c;
        }
        .customBtn__basket {
            background-color: #565454;
            svg {
                fill: $light-c;
            }
        }
    }
    &.customBtn-basket {
        .customBtn__inner {
            padding: 2px;
            justify-content: space-between;
        }
        .customBtn__text {
            flex-grow: 1;
            text-align: center;
        }
    }
}
.customBtn__basket {
    width: 38px;
    max-width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    background-color: $light-c-hov;
    transition: .25s background-color;
    svg {
        display: block;
        transition: .25s fill;
    }
}
.customLink {
    line-height: 20px;
    font-weight: 500;
    color: $light-c;
    &:hover {
        text-decoration: underline;
    }
}
.priceEL {
    font-size: 22px;
    white-space: nowrap;
    line-height: 1;
    font-weight: bold;
}
.siteSection {
    margin: 63px 0 63px;
    &.siteSection-small {
        margin-top: 40px;
    }
    &.siteSection-bn {
        margin-bottom: 0px;
    }
    &.siteSection-tn {
        margin-top: 0px;
    }
    &.siteSection-brand {
        margin-bottom: 42px;
        & + .siteSection {
            margin-top: 42px;
        }
    }
}
.sliderArrow,
.pagArrow {
    display: block;
    border: none;
    background-color: transparent;
    width: 50px;
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .25s background-color, .25s border-color;
    &:hover {
        background-color: $extra-light-c;
    }
    svg {
        width: 24px;
        height: 11px;
        display: block;
        fill: $dark-c;
        transition: .25s fill;
    }
    &.sliderArrow-prev,
    &.pagArrow-prev {
        svg {
            transform: rotate(180deg);
        }
    }
    &.slick-disabled {
        svg {
            fill: $extra-dark-c;
        }
    }
}

.sliderArrow__inner,
.pagArrow__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-slider .slick-list {
    flex-grow: 1;
}
.slick-slider .slick-track {
    min-width: 100%;
    display: flex;
    .slick-slide {
        height: auto;
        display: flex;
        flex-direction: column;
        & > * {
            width: 100%;
            flex-grow: 1;
        }
    }
}
.title-h3 {
    display: inline;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    word-break: break-word; 
}
.title-h2 {
    display: inline;
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    word-break: break-word;
}
.title-h1 {
    display: inline;
    font-size: 42px;
    line-height: 50px;
    font-weight: bold;
    word-break: break-word;
}
.titleBar {
    margin-bottom: 15px;
    &.titleBar-border {
        padding-bottom: 7px;
        border-bottom: 2px solid $extra-light-c;
    }
    &.titleBar-big {
        margin-bottom: 30px;
    }
}
.titleBar__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.titleBar.titleBar-border {
    .titleBar__inner {
        min-height: 50px;
    }
}
.bannerList:not(.slick-slider) {
    display: flex;
    overflow: hidden;
    .bannerList__item {
        width: 50%;
        min-width: 50%;
    }
}
.bannerList {
    margin: 0 -8px;
}
.bannerList__item {
    padding: 0 8px;
}
.bannerMin {
    display: block;
    img {
        width: 100%;
        display: block;
    }
}
.titleBar__arrow {
    display: flex;
    flex-wrap: wrap;
}
.titleBar__side {
    min-width: 100px;
}
.miniBanner__nav {
    display: none;
}
.miniBanner__nav .titleBar__arrow {
    justify-content: center;
    .sliderArrow {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}
.fastBtn {
    font-size: 14px;
    line-height: 22px;
    background-color: transparent;
    display: block;
    max-width: 100%;
    border: none;
    font-weight: 500;
    transition: .25s color;
    cursor: pointer;
    &:hover {
        color: $light-c;
    }
}
.activityBtn {
    display: block;
    background-color: transparent;
    width: 28px;
    height: 28px;
    padding: 3px;
    border: none;
    transition: .25s color;
    &.activityBtn-big {
        width: auto;
        height: auto;
        text-align: left;
        font-size: 15px;
        line-height: 15px;
        font-weight: 500;
    }
    .activityBtn__inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 100%;
            height: 100%;
            display: block;
            transition: .25s fill;
        }
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &:hover {
        color: $light-c;
        .activityBtn__inner {
            svg {
                fill: $light-c;
            }
        }
    }
    &.__active {
        background-color: $extra-light-c;
    }
}
.activityBtn__ico {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.gray-bg {
    padding-top: 52px;
    padding-bottom: 60px;
    background-color: $extra-standart-c;
}
.sectionFlexWrap {
    overflow: hidden;
}
.sectionFlex {
    display: flex;
    flex-wrap: wrap;
    margin: -34px 0px 0;
}
.sectionFlex__item {
    width: 50%;
    padding: 34px 0px 0;
}
.innerSection.innerSection-about {
    padding-right: 50px;
}
.customText {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
.customText p, p {
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    a {
        color: $light-c;
        font-weight: 500;
        &:hover {
            text-decoration: underline; 
        }
    }
}
.article-img {
    float: left;
    margin-top: 5px;
    margin-right: 30px;
    margin-bottom: 10px;
    width: 160px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $extra-standart-c;
    padding: 10px;
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}
.grubContent {
    .customText p, p {
        line-height: 24px;
    }
}
.customText {
    h3,h4,h5,h6 {
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 15px;
        margin-top: 19px;
        &:first-child {
            margin-top: 0;
        }
    }
}
.articleEl {
    .customText ul li {
        padding-left: 31px;
        &::before {
            left: 13px;
        }
    }
}
.customText ul {
    list-style: none;
    margin-bottom: 10px;
    li {
        line-height: 22px;
        margin-bottom: 8px;
        padding-left: 20px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: "";
            position: absolute;
            left: 2px;
            top: 6px;
            width: 8px;
            height: 8px;
            display: block;
            background-color: $light-c;
            transform: rotate(45deg);
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.customText ol {
    &:not(.h-increment) {
        margin-bottom: 10px;
        counter-reset: custom;
        list-style: none;
        & > li {
            display: flex;
            line-height: 22px;
            margin-bottom: 8px;
            position: relative;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: counters(custom, ".")".";
                counter-increment: custom;
                line-height: 22px;
                font-weight: bold;
                color: $light-c;
                margin-right: 10px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.h-increment {
        counter-reset: custom;
        list-style: none;
        & > li {
            margin-bottom: 33px;
            &:last-child {
                margin-bottom: 0;
            }
            h1, h2, h3, h4, h5, h6 {
                margin-bottom: 13px;
                &:first-child {
                    margin-bottom: 13px;
                }
                &::before {
                    content: counters(custom, ".")".";
                    counter-increment: custom;
                }
            }
        }
    }
}
.customText ol,
.customText ul {
    ol, ul {
        margin-top: 7px;
    }
}

.aboutBox__text {
    margin-bottom: 36px;
    &:last-child {
        margin-bottom: 0;
    }
}
.aboutBox.customText {
    padding-top: 7px;
}
.sertBox__side {
    width: 220px;
    display: flex;
    flex-direction: column;
    padding-right: 0px;
}
.sertBox__ban {
    flex-grow: 1;
    background-color: $extra-warm-c;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    padding: 46px 40px 45px;
}
.sertBox__bi {
    width: 80px;
    height: 81px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    img, svg {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}
.sertBox {
    display: flex;
}
.sertBox__main {
    width: calc(100% - 220px);
}
.sertBoxList {
    display: flex;
}
.sertBoxList__item {
    width: 33.33%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.sertBoxList-overflow {
    overflow: auto;
}
.sertBoxList__sert {
    display: block;
    flex-grow: 1;
    width: 100%;
    background-color: #fff;
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #fff, $alpha: 0.5);
        border: 2px solid $dark-c;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: .25s opacity;
        z-index: 2;
        background-image: url(../img/svg/search.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
}
.sLink {
    display: flex;
    align-items: center;
    color: $light-c;
    font-weight: 500;
    &:hover {
        .sLink__text {
            text-decoration: underline;
        }
    }
}
.sLink__ico {
    width: 24px;
    height: 25px;
    margin-right: 10px;
    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}
.videoItem {
    position: relative;
    &::before {
        content: "";
        display: block;
        padding-top: 58.25%;
    }
    .videoItem__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        iframe {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.videoBox__list:not(.slick-slider) {
    display: flex;
    overflow: hidden;
    .videoBox__item {
        width: 100%;
        min-width: 100%;
    }
}
.videoBox__list .sliderArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
    &.sliderArrow-prev {
        left: 0;
    }
}
.videoMain__name {
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}
.titleBar__link {
    margin-left: 15px;
    margin-right: auto;
}
.titleBar__title.titleBar__title-right {
    margin-right: auto;
}
.titleBar__inner-baseline {
    .titleBar__link,
    .titleBar__title {
        align-self: baseline;
    }
}
.brandList {
    margin: 0 -5px;
    &:not(.slick-slider) {
        display: flex;
        overflow: hidden;
        .brandList__item {
            width: 16.66%;
            min-width: 16.66%;
        }
    }
}
.brandList__item  {
    padding: 0 5px;
}
.brandArrowAdapt {
    display: none;
    .titleBar__arrow {
        margin-top: 14px;
    }
}
.brItem {
    background-color: #fff;
    height: 120px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}
.articleList {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -15px 0;
}
.articleListItem {
    width: 33.33%;
    padding: 10px 15px 0;
    display: flex;
    flex-direction: column;
}
.articleEl {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $extra-standart-c;
    position: relative;
    overflow: hidden;
    &.articleEl-bg {
        color: #fff;
        background: $dark-c;
        .articleEl__wrap {
            background-image: url(../img/svg/Gradient-Overlay.svg);
            background-size: cover;
            background-position: top;
            transition: .25s background-size;
        }
    }
    &:hover {
        .articleEl__inner {
            border-color: $light-c;
        }
        .categoryPoint__arrow {
            background-color: $light-c;
        }
        .articleEl__img {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}
.articleEl__img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: .25s transform;
}
.articleEl__wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    z-index: 2;
}
.articleEl__name,
.articleEl__info {
    position: relative;
    z-index: 2;
}
.articleEl__inner {
    flex-grow: 1;
    border: 5px solid transparent;
    padding: 35px 35px 61px;
    display: flex;
    flex-direction: column;
    transition: .25s border-color;
}
.articleEl__back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    min-width: 100%;
    min-height: 100%;
}
.articleEl__ico {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 5;
}
.articleTime__ico {
    display: block;
    margin-right: 9px;
    svg {
        display: block;
        fill: $light-c;
    }
}
.articleEl__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 19px;
}
.articleEl__date {
    margin-bottom: 24px;
    position: relative;
    z-index: 2;
}
.articleTime {
    display: flex;
    align-items: center;
}
.articleTime__text {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5px;
}
.articleEl {
    .customText p, p {
        line-height: 24px;
    }
}
.mCSB_scrollTools {
    width: 19px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 5px;
    border-radius: 0px;
    background-color: $extra-dark-c;
    transition: .25s background-color;
    &:hover {
        background-color: $light-c;
    }
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    display: none;
}
.mCSB_scrollTools .mCSB_draggerContainer {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 7px;
        width: 5px;
        background-color: $extra-light-c;
    }
}
.mCSB_scrollTools.mCSB_scrollTools_onDrag .mCSB_draggerRail {
    background-color: $light-c;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: absolute !important;
}
.mCSB_inside>.mCSB_container {
    margin-right: 0;
}
.simpleBtn {
    background-color: transparent;
    border: none;
    display: block;
    font-weight: 500;
    color: $light-c;
    &:hover {
        .simpleBtn__text {
            text-decoration: underline;
        }
    }
}
.simpleBtn__inner {
    display: flex;
    align-items: center;
}
.simpleBtn__ico {
    margin-left: 5px;
    padding-top: 2px;
    svg {
        display: block;
        fill: $light-c;
        transform: rotate(-90deg);
    }
}
.crumbsList {
    display: flex;
    list-style: none;
    overflow: auto;
    padding-bottom: 10px;
    margin-bottom: -10px;
}
.crumbsList__item {
    white-space: nowrap;
    padding-right: 8px;
    position: relative;
    &:not(:last-child) {
        &::after {
            content: "—";
            margin-left: 2px;
            color: $extra-dark-c;
        }
    }
}
.crumbsItem {
    font-size: 15px;
    line-height: 18px;
}
a.crumbsItem {
    color: $extra-dark-c;
    &:hover {
        color: $light-c;
    }
}
.breadcrumbBox {
    margin-top: 11px;
    margin-bottom: 9px;
}
.breadcrumbBox + .siteSection {
    margin-top: 0 !important;
}
.adapt-button {
    display: none;
}
.doubleColumnBox.customText {
    margin-top: 25px;
    margin-bottom: -10px;
}
.doubleColumnBox {
    .aboutBox__text {
        column-count: 2;
        column-gap: 99px;
        p {
            break-inside: avoid;
        }
    }
}
.titleBar__sup {
    background-color: $extra-light-c;
    color: $extra-dark-c;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    min-width: 36px;
    display: inline-block;
    padding: 0 6px;
    vertical-align: top;
    margin-top: 10px;
    text-align: center;
}
@keyframes aroundRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.tippy-box {
    width: 300px;
    background-color: $dark-c;
    border-radius: 0;
    border: 2px solid $light-c;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    padding: 12px 15px;
}
.tippy-box[data-placement^=top]>.tippy-arrow {
    bottom: -3px;
}
.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: -3px;
}
.tippy-arrow {
    color: $light-c;
}
.tippy-content {
   padding: 0;
   max-height: 200px;
   overflow: auto;
   margin-right: -9px;
   .mCSB_inside>.mCSB_container {
        margin-right: 12px;
    }
    .mCSB_scrollTools {
        width: 5px;
    }
    .mCSB_scrollTools .mCSB_draggerContainer::before {
        right: 0;
    }
}
[data-tippy-root] {
    pointer-events: visible !important;
}
.closeBtn {
    width: 34px;
    min-width: 34px;
    height: 34px;
    display: block;
    background-color: $dark-c;
    border: none;
    padding: 7px;
    transition: .25s background-color;
    svg {
        fill: #fff;
        display: block;
        width: 100%;
        height: 100%;
    }
}
.closeBtn__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.h-l {
    font-weight: 500;
    color: $light-c;
}
a.h-l:hover {
    text-decoration: underline;
}
.charList {
    list-style: none;
}
.charList__item {
    margin-bottom: 6px;
    &:last-child {
        margin-bottom: 6px;
    }
}
.charList__inner {
    font-size: 14px;
    line-height: 17px;
}
.charList__prop {
    color: $extra-dark-c;
}
.charList__value {
    color: $dark-c;
}
.raitElement__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.raitMarks {
    display: flex;
    align-items: center;
    margin-left: -3px;
}
.raitMarks__item {
    width: 16px;
    height: 15px;
    margin-left: 3px;
    .raitStar {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .raitStar__item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .raitStar__gray {
        svg {
            fill: #bfbfbf;
        }
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #bfbfbf;
    }
    .raitStar__fill {
        display: none;
        svg {
            fill: $light-c;
        }
    }
}
.raitStar.__fill-star .raitStar__fill {
    display: block;
}
.raitElement__text {
    margin-left: 7px;
    margin-top: 2px;
}
.raitText {
    font-size: 15px;
    line-height: 20px;
    color: $extra-dark-c;
    &:hover {
        color: $light-c;
    }
}
.f-medium {
    font-weight: 500;
}
.customText table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid $extra-light-c;
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0;
    }
    tr {
        background-color: $extra-standart-c;
        &:nth-child(2n) {
            background-color: #fff;
        }
    }
    td {
        padding: 9px 10px;
        width: 50%;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid $extra-light-c;
    }
}
.raitElement__mark {
    color: $light-c;
    font-size: 15px;
    line-height: 18px;
    margin-left: 6px;
}
.raitSingleStar {
    width: 16px;
    height: 15px;
    svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: $light-c;
    }
}
.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    li {
        padding: 0 5px;
        button {
            background-color: $extra-dark-c;
            border: none;
            font-size: 0;
            width: 8px;
            height: 8px;
            display: block;
        }
        &.slick-active {
            button {
                background-color: $light-c;
            }
        }
    }
}
.promoCode__inner {
    display: flex;
    margin: 0 -5px;
}
.promoCode__item {
    padding: 0 5px;
}
.promoCode__item.promoCode__input {
    width: calc(100% - 54px);
}
.promoCode__item.promoCode__btn {
    width: 54px;
}
.promoCodeBtn {
    width: 44px;
    height: 44px;
    background-color: $extra-standart-c;
    border: 1px solid $extra-light-c;
    transition: .25s color, .25s border-color, .25s background-color;
    &:hover {
        background-color: $dark-c;
        border-color: $dark-c;
        color: $light-c;
        svg {
            fill: $light-c;
        }
    }
    
}
.promoCodeBtn__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promoCodeBtn__inner svg {
    width: 9px;
    height: 6px;
    display: block;
    fill: $dark-c;
    transform: rotate(-90deg);
    transition: .25s fill;
}
fieldset {
    border: none;
}
.custom-label {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 6px;
    display: block;
    cursor: pointer;
    word-break: break-word;
    margin-top: auto;
    span {
        color: $light-c;
    }
}

.customInput,
.customTextArea {
    width: 100%;
    display: block;
    background-color: #fff;
    border: 1px solid $extra-light-c;
    padding: 12px 13px 11px;
    line-height: 19px;
    transition: .25s border-color;
    &:hover {
        border-color: $extra-dark-c;
    }
    &:focus {
        border-color: $light-c;
    }
    &.__error {
        border-color: #FF3821;
        box-shadow: rgba($color: $dark-c, $alpha: .8) 0 0 0 3px;
    }
}
.customTextArea {
    resize: none;
    min-height: 100px;
}
.errorBox {
    position: absolute;
    transform: translateY(-100%);
    background-color: rgba($color: $dark-c, $alpha: .8);
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 10px 8px;
}
.errorBox__text {
    padding-left: 20px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        width: 14px;
        height: 13px;
        background-image: url(../img/svg/warning.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.basketSide__main {
    padding-bottom: 17px;
    border-bottom: 1px solid $extra-light-c;
    margin-bottom: 23px;
}
.lineInner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.lineInner__label {
    font-size: 15px;
}
.lineInner__value {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
}
.basketSide__total .lineInner__label {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}
.basketSide__total .lineInner__value {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
}
.basketSide__line {
    margin-bottom: 13px;
    &:last-child {
        margin-bottom: 0;
    }
}
.basketSide__total {
    margin-bottom: 24px;
}
.boxEmpty {
    background-color: $extra-standart-c;
}
.boxEmpty__inner {
    min-height: 387px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.flexBtns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px -10px 0;
}
.flexBtns__item {
    max-width: 240px;
    width: 50%;
    padding: 10px 10px 0;
}
.boxEmpty__img {
    width: 116px;
    height: 108px;
    margin-bottom: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}
.boxEmpty__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}
.boxEmpty__text {
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.basketSide__btn {
    .customBtn + .customBtn {
        margin-top: 10px;
    }
}
.labelBox {
    background-color: #fff;
    border: 1px solid #CECECE;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: .25s border-color;
    cursor: pointer;
    &:hover {
        border-color: $extra-dark-c;
        .labelBox__inner {
            border-color: $extra-dark-c;
        }
    }
    &.__active {
        border-color: $light-c;
        .labelBox__inner {
            border-color: $light-c;
        }
    }
    &.labelBox-big {
        .labelBox__inner {
            min-height: 118px;
        }
    }
}
.labelBox__price {
    margin-left: auto;
    padding-right: 22px;
    color: $extra-dark-c;
    white-space: nowrap;
    & + .labelBox__input {
        margin-left: 0;
    }
}
.labelBox__name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.labelBox__inner {
    flex-grow: 1;
    display: block;
    border: 1px solid transparent;
    transition: .25s border-color;
    padding: 17px 18px;
}
.fieldList {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -15px 0;
    &.fieldList-big {
        margin: -16px -15px 0;
        .fieldList__item {
            padding: 16px 15px 0;
        }
    }
    & + .fieldList {
        margin-top: 0px;
    }
}
.fieldList__item {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 15px 0;
    &.fieldList__item-small {
        width: 16.66%;
    }
    &.fieldList__item-mid {
        width: 25%;
    }
    .labelBox {
        flex-grow: 1;
    }
    &.fieldList__item-big {
        width: 100%;
    }
}
.ps-text__inf {
    font-size: 14px;
    line-height: 18px;
    color: $extra-dark-c;
    a {
        text-decoration: underline;
        &:hover {
            color: $light-c;
        }
    }
}
.warningMessage__inner {
    display: flex;
}
.warningMessage {
    padding-top: 8px;
}
.warningMessage__ico {
    width: 14px;
    min-width: 14px;
    height: 13px;
    margin-right: 7px;
    margin-top: 1px;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: $light-c;
    }
}
.warningMessage__text {
    font-size: 14px;
    line-height: 18px;
    color: $extra-dark-c;
    a {
        color: $light-c;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
}
.labelBox__main {
    display: flex;
    align-items: center;
    min-height: 22px;
}
.labelBox__input {
    margin-left: auto;
}
.labelBox__title {
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
}
.labelBox__subtext {
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: $extra-dark-c;
}
.labelBox__img {
    margin-left: auto;
}

.legend-hidden {
    display: none;
}
.inputWrap {
    position: relative;
    width: 100%;
    display: block;
    &.__active {
        .customInput, .customTextArea {
            border-color: $light-c;
        }
    }
}
.inputWrap__dd {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 6;
}
.inputWrap {
    &.__active {
        .inputWrap__dd {
            display: block;
        }
    }
}
.ddInp {
    background-color: $extra-standart-c;
    border: 1px solid $light-c;
    border-top: 0;
}
.q-box {
    color: $extra-dark-c;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
}
.searchBarTop {
    background-color: $extra-standart-c;
    font-size: 15px;
    line-height: 20px;
    padding: 15px;
    margin-bottom: 25px;
    .strong {
        font-weight: 500;
    }
}
.searchBarLinks {
    margin-bottom: 12px;
}
.boxEmpty.boxEmpty-404 {
    flex-grow: 1;
}
.boxEmpty-404 .boxEmpty__img {
    height: 150px;
    width: 100%;
}
.boxEmpty-404 {
    .boxEmpty__inner {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.siteContent.siteContent-404 {
    display: flex;
    flex-direction: column;
}
.newsGrid__top {
    .articleList {
        margin-top: -30px;
    }
    .articleListItem {
        padding-top: 30px;
    }
    .articleListItem {
        display: block !important;
    }
}
.newsBox {
    .mainCatalog__nav {
        margin-top: 20px;
    }
}
.leadRait__bot {
    .raitMarks {
        justify-content: center;
        margin-left: 0;
    }
    .raitMarks__item {
        width: 19px;
        height: 18px;
        margin: 0 3px;
    }
}
.brandRow {
    background-color: $extra-standart-c;
    padding: 26px 0;
    overflow: hidden;
}
.brandRow__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.brandRow__img {
    padding: 0 15px;
    width: 292px;
    max-width: 100%;
}
.brandRow__text {
    padding: 0 15px;
    max-width: calc(100% - 292px);
}
.brandPic {
    padding: 10px;
    height: 120px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}
.serviceGrid__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -14px -7px 0;
}
.serviceGrid__item {
    width: 33.33%;
    padding: 14px 7px 0;
    .provideEl__img {
        height: 350px;
        picture {
            width: 100%;
            height: 100%;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
.mainCatalog__nav.mainCatalog__nav-big {
    margin-top: 20px;
}
.decorateBox {
    padding: 10px 10px 10px 0;
    border-left: 10px solid $light-c;
    background-color: $extra-standart-c;
}
.decorateBox__inner {
    border: 2px solid $light-c;
    border-left: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding: 19px 29px;
}
.reviewRait__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.reviewRait__label {
    line-height: 22px;
    margin-right: 8px;
}
.reviewRait {
    padding: 10px 0 1px;
}
.starsInter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 3px;
}
.starsInter__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 19px;
    cursor: pointer;
    height: 18px;
    margin-right: 3px;
    background-image: url(../img/svg/star-fill.svg);
    background-size: 19px 18px;
    background-repeat: no-repeat;
    background-position: left;
}
.starsInter__label:last-child {
    margin-right: 0;
}
.starsInter__input:checked ~ .starsInter__label {
    background-image: url(../img/svg/star-normal.svg);
}
.starsInter__input:checked + .starsInter__label {
    background-image: url(../img/svg/star-fill.svg);
}
.starsInter:hover .starsInter__input ~ .starsInter__label {
    background-image: url(../img/svg/star-fill.svg);
}
.starsInter:hover .starsInter__input:hover ~ .starsInter__label {
    background-image: url(../img/svg/star-normal.svg);
}
.starsInter:hover .starsInter__input:hover + .starsInter__label {
    background-image: url(../img/svg/star-fill.svg);
}
.loadLabel {
    display: block;
    cursor: pointer;
    width: 100%;
    &.highlight {
        .loadLabel__field {
            border-color: $light-c;
            .loadLabel__ico svg {
                fill: $light-c;
            }
        }
    }
}
.loadLabel__field {
    display: block;
    border: 1px dashed $extra-dark-c;
    padding: 19px 14px 17px;
    transition: .25s border-color, .25s color, .25s opacity;
}
@media (min-width: 769px) {
    .loadLabel__field:hover {
        border-color: $light-c;
        .loadLabel__text {
            color: $light-c;
        }
        .loadLabel__ico svg {
            fill: $light-c;
        }
    }
}
.reviewForm__content {
    max-width: 1060px;
}
.loadLabel__flex {
    display: flex;
    align-items: center;
}
.loadLabel__ico {
    display: block;
    margin-right: 10px;
    width: 22px;
    min-width: 22px;
    height: 22px;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: $extra-dark-c;
        transition: .25s fill;
    }
}
.loadLabel__text {
    color: $extra-dark-c;
    font-size: 16px;
    line-height: 22px;
    transition: .25s color;
}
.loadFile__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -10px -10px 0
}
.loadFile__item {
    padding: 10px 10px 0;
    &.loadFile__item-label {
        width: 59.3%;
    }
    &.loadFile__item-text {
        width: 40.7%;
    }
    &.loadFile__item-image {
        width: 100%;
    }
}
.loadImages {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -5px 0;
}
.loadImages__remove {
    width: 16px;
    height: 16px;
    display: block;
    background-color: #fff;
    padding: 2px;
    transition: .25s background-color;
    border: none;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: $dark-c;
        transition: .25s fill;
    }
    &:hover {
        background-color: $light-c;
    }
}
.loadImages__item {
    margin: 10px 5px 0;
    width: 70px;
    height: 70px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.warnText {
    font-size: 14px;
    line-height: 18px;
    color: $extra-dark-c;
    display: flex;
}
.warnText__ico {
    width: 14px;
    min-width: 14px;
    margin-right: 6px;
    margin-top: 3px;
    height: 13px;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: $light-c;
    }
}

@media (max-width: 1670px) {
    .plName {
        font-size: 15px;
        line-height: 18px;
    }
    .newsGrid__top .articleList {
        margin-top: -10px;
    }
    .newsGrid__top .articleListItem {
        padding-top: 10px;
    }
    .customText h3, .customText h4, .customText h5, .customText h6 {
        font-size: 18px;
        line-height: 22px;
    }
    .title-h1 {
        font-size: 36px;
        line-height: 44px;
    }
    .articleEl__inner {
        padding: 19px 21px 45px;
    }
    .brItem {
        height: 100px;
    }
    .articleEl__ico {
        .categoryPoint__arrow {
            width: 50px;
            height: 50px;
        }
    }
    .articleEl__info {
        max-height: 128px;
        overflow: hidden;
        p {
            overflow: hidden;
            max-height: 120px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }
    .articleList {
        margin-left: -5px;
        margin-right: -5px;
    }
    .articleListItem {
        padding-left: 5px;
        padding-right: 5px;
    }
    .articleEl__title {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 22px;
    }
    .siteSection {
        margin: 43px 0;
        &.siteSection-small {
            margin-top: 29px;
        }
        &.siteSection-brand {
            margin-bottom: 30px;
            & + .siteSection {
                margin-top: 30px;
            }
        }
    }
    .title-h2 {
        font-size: 32px;
        line-height: 38px
    }
    .videoMain__name {
        font-size: 18px;
    }
    .innerSection.innerSection-about {
        padding-right: 40px;
    }
    .sertBox__side {
        width: 147px;
    }
    .sertBox__main {
        width: calc(100% - 147px);
    }
    .sertBox__bi {
        width: 70px;
        height: 71px;
    }
    .sertBox__ban {
        font-size: 20px;
        line-height: 26px;
        padding: 32px 9px;
    }
    .aboutBox.customText {
        padding-top: 0;
    }
    
}
@media (max-width: 1500px){
    .fieldList__item.fieldList__item-small {
        width: 25%;
    }
    .serviceGrid__item .provideEl__img {
        height: 300px;
    }
}
@media (max-width: 1300px) {
    .site-container {
        padding: 0 20px;
    }
    .staticArticle {
        .customText p, .customText ul li, p {
            line-height: 22px;
            font-size: 16px;
        }
    }
    .serviceGrid__item .provideEl__img {
        height: 250px;
    }
    .orderMapInfo__img {
        height: auto;
    }
    .aboutBox__text {
        margin-bottom: 22px;
    }
    .innerSection.innerSection-about {
        padding-right: 30px;
    }
    .titleBar__link {
        .sLink {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .customText p, p,
    .customText ul li {
        line-height: 20px;
        font-size: 15px;
    }
    .sertBox__ban {
        font-size: 20px;
        line-height: 26px;
        background-color: transparent;
        padding: 0;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        margin-bottom: 16px;
    }
    .sertBoxList__item {
        width: 33.33%;
        min-width: 130px;
        max-width: 157px;
        padding: 0 10px 0 0;
    }
    .sertBox {
        flex-wrap: wrap;
    }
    .sertBox__main {
        width: 100%;
    }
    .sertBox__side {
        width: 100%;
    }
    .sertBox__bi {
        display: none;
    }
    .sliderArrow {
        width: 40px;
        min-width: 40px;
        height: 40px;
        background-color: $extra-standart-c;
    }
    .titleBar__side {
        min-width: 80px;
    }
    .titleBar__arrow {
        .sliderArrow.sliderArrow-next {
            margin-left: 5px;
        }
    }
    .titleBar.titleBar-border {
        .titleBar__inner {
            min-height: auto;
        }
    }
    .titleBar.titleBar-border {
        padding-bottom: 6px;
        margin-bottom: 6px;
    }
}
@media (max-width: 1230px) {
    .leadRait__bot {
        .raitMarks__item {
            margin: 0 1.5px;
        }
    }
    .videoBox__arr {
        margin-top: 15px;
        display: flex;
        .sliderArrow.sliderArrow-prev {
            margin-right: 3px;
        }
        .sliderArrow.sliderArrow-next {
            margin-left: 3px;
        }
    }
    .labelBox__subtext {
        flex-wrap: wrap;
    }
    .title-h1 {
        font-size: 32px;
        line-height: 38px;
    }
    .articleTime__text {
        margin-top: 3px;
    }
    .articleEl__info {
        max-height: 93px;
    }
    .articleEl__inner {
        padding: 19px 20px 12px;
    }
    .articleEl__ico {
        display: none;
    }
    .articleEl__info p {
        max-height: 80px;
        -webkit-line-clamp: 4;
    }
    .articleTime__ico svg {
        width: 18px;
        height: 18px;
    }
    .articleEl__date {
        margin-bottom: 15px;
    }
    .articleEl__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .articleEl .customText p, .articleEl p {
        line-height: 20px;
    }
    .brItem {
        height: 90px;
    }
    .gray-bg {
        padding-top: 32px;
        padding-bottom: 40px;
    }
    .searchDrop {
        .prodLink__img {
            width: 50px;
            min-width: 50px;
            height: 50px;
        }
        .prodLink__info {
            padding-left: 10px;
        }
        .prodLink__inner {
            min-height: 87px;
        }
        .plName {
            margin-bottom: 7px;
        }
    }
    .title-h2 {
        font-size: 30px;
        line-height: 36px
    }
    
}
@media (max-width: 1150px) {
    .brandRow__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .serviceGrid__item .provideEl__img {
        height: 190px;
    }
    .brandRow {
        padding: 20px 0 16px;
    }
    .brandRow__img {
        margin-bottom: 20px;
    }
    .brandRow__text {
        padding: 0 15px;
        max-width: 100%;
        width: 100%;
    }
    .catalog-overlay {
        display: none;
        &.catalog-overlay-adapt{
            display: block;
            &.__active {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .fieldList__item.fieldList__item-mid,
    .fieldList__item.fieldList__item-small {
        width: 50%;
    }
    .fieldList__item {
        width: 100%;
    }
}
@media (max-width: 1010px) {
    .site-container {
        padding: 0 15px;
    }
    .siteSection {
        margin: 33px 0;
        &.siteSection-small {
            margin-top: 20px;
        }
        &.siteSection-brand {
            margin-bottom: 20px;
            & + .siteSection {
                margin-top: 20px;
            }
        }
    }
    .crumbsList {
        margin-right: -15px;
    }
}
@media (max-width: 998px) {
    .brandRow__img {
        width: 171px;
    }
    .decorateBox {
        padding: 7px 8px 7px 0;
        border-left-width: 6px;
    }
    .decorateBox__inner {
        font-size: 16px;
        padding: 10px 18px;
    }
    .brandPic {
        height: 80px;
    }
    .fieldList.fieldList-big,
    .fieldList {
        margin-left: -10px;
        margin-right: -10px;
        padding-top: -11px;
    }
    .fieldList__item,
    .fieldList.fieldList-big .fieldList__item {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 11px;
    }
    .checkGrub__section {
        margin-bottom: 20px;
    }
    .labelBox__img {
        width: 100%;
        margin-top: 5px;
    }
    .sectionFlex__item {
        width: 100%;
        padding: 34px 0 0;
    }
    .boxEmpty__img {
        width: 100px;
        height: 93px;
        margin-bottom: 28px;
    }
    .boxEmpty__title {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 8px;
    }
    .boxEmpty__inner {
        min-height: 328px;
    }
    .flexBtns {
        margin-left: -5px;
        margin-right: -5px;
    }
    .flexBtns__item {
        padding-left: 5px;
        padding-right: 5px;
    }
    .boxEmpty__text {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .customText h3, .customText h4, .customText h5, .customText h6 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
        margin-bottom: 12px;
    }
    .doubleColumnBox.customText {
        margin-top: 0;
    }
    .doubleColumnBox.customText {
        margin-bottom: 0;
    }
    .doubleColumnBox {
        .aboutBox__text {
            column-count: 1;
            column-gap: 0;
        }
    }
    .videoBox__arr {
        justify-content: center;
        margin-top: 11px;
    }
    .gray-bg {
        padding-top: 23px;
        padding-bottom: 15px;
    }
    .innerSection.innerSection-about {
        padding-right: 0px;
    }
    .videoMain__name {
        font-size: 16px;
        line-height: 22px;
    }
    .videoBox {
        max-width: 576px;
        margin-left: auto;
        margin-right: auto;
    }
    .labelBox__lf {
        flex-wrap: wrap;
    }
}
@media (max-width: 875px) {
    .brandArrowAdapt {
        display: block;
        .titleBar__arrow {
            justify-content: center;
        }
    }
    .serviceGrid__item {
        .provideEl__name {
            padding: 11px 17px;
            min-height: auto;
            max-height: none;
        }
    }
    .mainCatalog__nav.mainCatalog__nav-big {
        margin-top: 10px;
    }
    .serviceGrid__item {
        width: 50%;
    }
    .labelBox__price {
        margin-left: auto;
        padding-left: 0;
        width: 100%;
        padding-top: 8px;
        font-size: 14px;
    }
    .ddLabel__item .labelBox__price {
        width: auto;
        padding-top: 0;
    }
    
    .titleBar__sup {
        margin-top: 7px;
    }
    .articleEl__info {
        max-height: 77px;
    }
    .title-h1 {
        font-size: 30px;
        line-height: 36px;
    }
    .articleEl__title {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 8px;
    }
    .articleEl .customText p, .articleEl p {
        margin-bottom: 6px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .articleEl__inner {
        padding: 15px 16px 12px;
    }
    .articleListItem {
        width: 50%;
    }
    .articleEl {
        min-height: 223px;
    }
    .brItem {
        height: 80px;
    }
    .brandList {
        margin: 0 -3px;
    }
    .brandList__item  {
        padding: 0 3px;
    }
    .title-h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .bannerList:not(.slick-slider) {
        .bannerList__item {
            width: 100%;
            min-width: 100%;
        }
    }
    .titleBar__arrow .sliderArrow.sliderArrow-next,
    .titleBar__arrow .sliderArrow.sliderArrow-prev {
        margin-left: 2.5px;
        margin-right: 2.5px
    }
    .bannerList {
        margin: 0px;
    }
    .bannerList__item {
        padding: 0px;
    }
    .miniBanner__nav {
        display: block;
        margin-top: 15px;
    }
    .titleBar.titleBar-border {
        .titleBar__inner {
            min-height: auto;
        }
    }
    .titleBar.titleBar-border {
        margin-bottom: 15px;
    }
    .labelBox__input {
        margin-left: auto;
        align-self: flex-start;
        padding-top: 2px;
    }
    .static-overlay {
        bottom: 57px;
    }
}
@media (max-width: 768px) {
    .fieldList__item.fieldList__item-mid {
        width: 100%;
    }
    .loadLabel__field {
        border-color: $light-c;
    }
    .loadLabel__ico svg {
        fill: $light-c;
    }
    .labelBox.labelBox-big .labelBox__inner {
        min-height: auto;
    }
    .customText ol {
        &.h-increment {
            & > li {
                h1, h2, h3, h4, h5, h6 {
                    margin-bottom: 10px;
                    &:first-child {
                        margin-bottom: 10px;
                        margin-top: -3px;
                    }
                }
            }
        }
    }
    .customText ol.h-increment>li {
        margin-bottom: 15px;
    }
    .loadLabel__text {
        display: none;
    }
    .loadLabel {
        width: 60px;
        height: 60px;
    }
    .loadFile__item.loadFile__item-label {
        width: 75px;
    }
    .loadFile__item.loadFile__item-text {
        width: calc(100% - 75px);
    }
    .loadLabel__ico {
        margin-right: auto;
        margin-left: auto;
    }
    .loadFile__inner {
        margin: -10px -7.5px 0;
    }
    .loadFile__item {
        padding: 10px 7.5px 0;
    }
    .reviewForm__item.reviewForm__item-min {
        width: 100%;
    }
    .loadImages__item {
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 670px) {
    .articleEl__info {
        max-height: 90px;
    }
    .customText table td {
        padding: 9px 10px 7px
    }
    .customText table {
        margin-bottom: 15px;
    }
    .orderProducts__item {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .titleBar__sup {
        margin-top: 0;
    }
    .article-img {
        float: none;
        margin-right: 0;
        max-width: 100%;
        margin-bottom: 13px;
    }
    .serviceGrid__item {
        width: 100%;
    }
    .boxEmpty-404 .boxEmpty__inner {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .boxEmpty-404 .boxEmpty__img {
        height: 102px;
    }
    .productCard__view {
        margin-bottom: 10px;
    }
    .titleBar {
        margin-bottom: 7px;
        &.titleBar-big {
            margin-bottom: 15px;
        }
    }
    .adapt-button {
        display: block;
    }
    .aboutBox__adapt {
        display: none;
        &.__active {
            display: block;
        }
    } 
    .articleListItem:nth-child(n + 3) {
        display: none;
    }
    .articleListItem {
        width: 100%;
    }
    .sertBoxList-overflow {
        margin-right: -15px;
    }
    .sectionFlexWrap {
        overflow: visible;
    }
    .sertBox__ban {
        font-size: 18px;
        margin-bottom: 9px;
    }
    .titleBar__inner {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .titleBar__link {
        margin-left: 0;
    }
}
